{% extends 'base.html.twig' %}

{% block title %}Staff index{% endblock %}

{% block body %}
    <h1>Staff index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Place_of_birth</th>
                <th>Date_of_birth</th>
                <th>Nationality</th>
                <th>Sex</th>
                <th>Phone_number</th>
                <th>Address</th>
                <th>Photo</th>
                <th>Type</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Modified_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for staff in staff %}
            <tr>
                <td>{{ staff.id }}</td>
                <td>{{ staff.email }}</td>
                <td>{{ staff.firstname }}</td>
                <td>{{ staff.lastname }}</td>
                <td>{{ staff.placeOfBirth }}</td>
                <td>{{ staff.dateOfBirth ? staff.dateOfBirth|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ staff.nationality }}</td>
                <td>{{ staff.sex }}</td>
                <td>{{ staff.phoneNumber }}</td>
                <td>{{ staff.address }}</td>
                <td>{{ staff.photo }}</td>
                <td>{{ staff.type }}</td>
                <td>{{ staff.status }}</td>
                <td>{{ staff.createdAt ? staff.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ staff.modifiedAt ? staff.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_staff_show', {'id': staff.id}) }}">show</a>
                    <a href="{{ path('app_staff_edit', {'id': staff.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_staff_new') }}">Create new</a>
{% endblock %}
