{% extends 'main.html.twig' %}

{% block title %}Boutique fenapalci{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">
    <style>
        .custom-file {
            display: block !important;
        }
    </style>
{% endblock %}

{% block body %}

    <main>
        <section class="container px-2 mt-5">
            <div class="row justify-content-md-center">
                <h1>Product index</h1>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Sku</th>
                        <th>Name</th>
                        <th>Marque</th>
                        <th>Supplier</th>
                        <th>Description</th>
                        <th>Unit_price</th>
                        <th>Unit_in_stock</th>
                        <th>Sell_price</th>
                        <th>Supplier_price</th>
                        <th>Created_at</th>
                        <th>Modified_at</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.sku }}</td>
                            <td>{{ product.name }}</td>
                            <td>{{ product.marque }}</td>
                            <td>{{ product.supplier }}</td>
                            <td>{{ product.description }}</td>
                            <td>{{ product.unitPrice }}</td>
                            <td>{{ product.unitInStock }}</td>
                            <td>{{ product.sellPrice }}</td>
                            <td>{{ product.supplierPrice }}</td>
                            <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ product.modifiedAt ? product.modifiedAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>
                                <a href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                                <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="13">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('app_product_new') }}">Create new</a>
            </div>
        </section>
    </main>

{% endblock %}
