{% extends 'main.html.twig' %}

{% block title %}E-boutique fenalpaci{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/ecommerce.css') }}">
    <style>
        .custom-file {
            display: block !important;
        }
        .site-footer {
            background: initial;
            padding-bottom: 0px;
            color: initial;
        }

        section header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid #ddd;
            margin-bottom: 0;
        }
        section header .h1:after, section header h1:after {
            content: ' ';
            border-bottom: 2px solid transparent;
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
        }

    </style>
{% endblock %}

{% block profile_picture %}
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Votre boutique FENAPALCI'}) }}
{% endblock %}

{% block body %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="https://electro.madrasthemes.com">Home</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><a href="https://electro.madrasthemes.com/product-category/gadgets/">Gadgets</a><span class="delimiter"><i class="fa fa-angle-right"></i></span><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/">Smartwatches</a><span class="delimiter"><i class="fa fa-angle-right"></i></span>Smartwatch 2.0 LTE Wifi Waterproof</nav><div class="site-content-inner row">
                <div id="primary" class="content-area">
                    <main id="main" class="site-main">
                        <div class="woocommerce-notices-wrapper"></div><div id="product-2630" class="product type-product post-2630 status-publish first instock product_cat-smartwatches has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                            <div class="single-product-wrapper row">
                                <div class="product-images-wrapper">
                                    <span class="onsale">-<span class="percentage">3%</span></span>
                                    <div class="woocommerce-product-gallery woocommerce-product-gallery--with-images woocommerce-product-gallery--columns-5 images electro-carousel-loaded" data-columns="5" style="opacity: 1; transition: opacity 0.25s ease-in-out 0s;"><a href="#" class="woocommerce-product-gallery__trigger">🔍</a>
                                        <figure class="woocommerce-product-gallery__wrapper">
                                            <div data-thumb="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-100x100.png" data-thumb-alt="" class="woocommerce-product-gallery__image" style="position: relative; overflow: hidden;"><a href="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch.png"><img width="600" height="550" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-600x550.png" class="wp-post-image" alt="" loading="lazy" title="watch" data-caption="" data-src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch.png" data-large_image="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch.png" data-large_image_width="720" data-large_image_height="660" srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-600x550.png 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-300x275.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch.png 720w" sizes="(max-width: 600px) 100vw, 600px"></a><img role="presentation" alt="" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch.png" class="zoomImg" style="position: absolute; top: -32.6427px; left: -232.065px; opacity: 1; width: 720px; height: 660px; border: none; max-width: none; max-height: none;"></div> </figure>
                                    </div>
                                </div>
                                <div class="summary entry-summary">
                                    <span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><h1 class="product_title entry-title">Smartwatch 2.0 LTE Wifi Waterproof</h1>
                                    <div class="woocommerce-product-rating">
                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span class="rating">3</span> customer ratings</span></div> <a href="#reviews" class="woocommerce-review-link" rel="nofollow">(<span class="count">3</span> customer reviews)</a>
                                    </div>
                                    <div class="availability">
                                        Availability: <span class="electro-stock-availability"><p class="stock in-stock">476 in stock</p></span>
                                    </div>
                                    <hr class="single-product-title-divider">
                                    <div class="action-buttons">
                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2630  wishlist-fragment on-first-load" data-fragment-ref="2630" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:2630,&quot;parent_product_id&quot;:2630,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                            <div class="yith-wcwl-add-button">
                                                <a href="?add_to_wishlist=2630&amp;_wpnonce=fd598ed29a" class="add_to_wishlist single_add_to_wishlist" data-product-id="2630" data-product-type="simple" data-original-product-id="2630" data-title="Wishlist" rel="nofollow">
                                                    <i class="yith-wcwl-icon fa fa-heart-o"></i> <span>Wishlist</span>
                                                </a>
                                            </div>

                                        </div>
                                        <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2630" class="add-to-compare-link" data-product_id="2630">Compare</a></div><div class="woocommerce-product-details__short-description">
                                        <ul>
                                            <li><span class="a-list-item">Water protected, dust and scratch-resistant</span></li>
                                            <li><span class="a-list-item">Easy calling</span></li>
                                            <li><span class="a-list-item">One-touch SmartWatch</span></li>
                                            <li><span class="a-list-item">New software update</span></li>
                                            <li><span class="a-list-item">Anywhere. Any weather<br>
</span></li>
                                        </ul>
                                    </div>
                                    <p class="price"><span class="electro-price"><ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>700.00</bdi></span></ins> <del><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>725.00</bdi></span></del></span></p>
                                    <p class="stock in-stock">476 in stock</p>
                                    <form class="cart" action="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi-waterproof/" method="post" enctype="multipart/form-data">
                                        <div class="quantity">
                                            <label for="quantity_63be4580c4bd1">Quantity</label>
                                            <input type="number" id="quantity_63be4580c4bd1" class="input-text qty text" step="1" min="1" max="476" name="quantity" value="1" title="Qty" size="4" inputmode="numeric" aria-labelledby="Smartwatch 2.0 LTE Wifi  Waterproof quantity">
                                        </div>
                                        <div id="wc-stripe-payment-request-wrapper" style="clear: both; padding-top: 1.5em;">
                                            <div id="wc-stripe-payment-request-button" class="StripeElement" style="position: static; zoom: 1;"><div class="__PrivateStripeElement" style="margin: 0px !important; padding: 0px !important; border: none !important; display: block !important; background: transparent !important; position: relative !important; opacity: 1 !important;"><iframe name="__privateStripeFrame30911" frameborder="0" allowtransparency="true" scrolling="no" role="presentation" allow="payment *" src="https://js.stripe.com/v3/elements-inner-payment-request-a785bb3c7959f24c809d263adab84837.html#locale=en&amp;wait=false&amp;mids[guid]=NA&amp;mids[muid]=58d17ac6-b108-4d62-a686-791a9fdb6eeaa1f06c&amp;mids[sid]=NA&amp;style[paymentRequestButton][type]=buy&amp;style[paymentRequestButton][theme]=dark&amp;style[paymentRequestButton][height]=40px&amp;rtl=false&amp;componentName=paymentRequestButton&amp;keyMode=test&amp;apiKey=pk_test_V9IddNo2cU95fDV7dk4n6aVF&amp;referrer=https%3A%2F%2Felectro.madrasthemes.com%2Fproduct%2Fsmartwatch-2-0-lte-wifi-waterproof%2F&amp;controllerId=__privateStripeController3091" title="Secure payment button frame" style="border: none !important; margin: 0px !important; padding: 0px !important; width: 1px !important; min-width: 100% !important; overflow: hidden !important; display: block !important; user-select: none !important; transform: translate(0px) !important; color-scheme: only light !important; height: 40px; min-height: auto;"></iframe><input class="__PrivateStripeElement-input" aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1" style="border: none !important; display: block !important; position: absolute !important; height: 1px !important; top: -1px !important; left: 0px !important; padding: 0px !important; margin: 0px !important; width: 100% !important; opacity: 0 !important; background: transparent !important; pointer-events: none !important; font-size: 16px !important;"></div></div>
                                        </div>
                                        <p id="wc-stripe-payment-request-button-separator" style="margin-top: 1.5em; text-align: center;">— OR —</p>
                                        <button type="submit" name="add-to-cart" value="2630" class="single_add_to_cart_button button alt">Add to cart</button>
                                    </form>
                                </div>
                            </div>
                            <div class="woocommerce-tabs wc-tabs-wrapper">
                                <ul class="tabs wc-tabs" role="tablist">
                                    <li class="accessories_tab" id="tab-title-accessories" role="tab" aria-controls="tab-accessories">
                                        <a href="#tab-accessories">
                                            Accessories </a>
                                    </li>
                                    <li class="description_tab" id="tab-title-description" role="tab" aria-controls="tab-description">
                                        <a href="#tab-description">
                                            Description </a>
                                    </li>
                                    <li class="specification_tab" id="tab-title-specification" role="tab" aria-controls="tab-specification">
                                        <a href="#tab-specification">
                                            Specification </a>
                                    </li>
                                    <li class="reviews_tab active" id="tab-title-reviews" role="tab" aria-controls="tab-reviews">
                                        <a href="#tab-reviews">
                                            Reviews </a>
                                    </li>
                                </ul>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--accessories panel entry-content wc-tab" id="tab-accessories" role="tabpanel" aria-labelledby="tab-title-accessories" style="display: none;">
                                    <div class="accessories">
                                        <div class="electro-wc-message"></div>
                                        <div class="row">
                                            <div class="col-md-9 col-left">
                                                <ul data-view="grid" data-bs-toggle="regular-products" class="products products list-unstyled row g-0 row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-5">
                                                    <li class="product type-product post-2630 status-publish first instock product_cat-smartwatches has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                        <div class="product-outer product-item__outer"><div class="product-inner product-item__inner"><div class="product-loop-header product-item__header"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi-waterproof/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi Waterproof</h2><div class="product-thumbnail product-item__thumbnail"><img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"></div></a></div><div class="product-loop-body product-item__body"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi-waterproof/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi Waterproof</h2> <div class="product-rating">
                                                                            <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5"><span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span></div> (3)
                                                                        </div>
                                                                        <div class="product-short-description">
                                                                            <ul>
                                                                                <li><span class="a-list-item">Water protected, dust and scratch-resistant</span></li>
                                                                                <li><span class="a-list-item">Easy calling</span></li>
                                                                                <li><span class="a-list-item">One-touch SmartWatch</span></li>
                                                                                <li><span class="a-list-item">New software update</span></li>
                                                                                <li><span class="a-list-item">Anywhere. Any weather<br>
</span></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="product-sku">SKU: 5487FB8/10</div></a></div><div class="product-loop-footer product-item__footer"><div class="price-add-to-cart">
                                                                        <span class="price"><span class="electro-price"><ins><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>700.00</bdi></span></ins> <del><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>725.00</bdi></span></del></span></span>
                                                                        <div class="add-to-cart-wrap" data-bs-toggle="tooltip" data-bs-title="Add to cart" data-bs-original-title="" title=""><a href="?add-to-cart=2630" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2630" data-product_sku="5487FB8/10" aria-label="Add “Smartwatch 2.0 LTE Wifi  Waterproof” to your cart" rel="nofollow">Add to cart</a></div></div><div class="hover-area"><div class="action-buttons">
                                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2630  wishlist-fragment on-first-load" data-fragment-ref="2630" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:2630,&quot;parent_product_id&quot;:2630,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                                <div class="yith-wcwl-add-button">
                                                                                    <a href="?add_to_wishlist=2630&amp;_wpnonce=fd598ed29a" class="add_to_wishlist single_add_to_wishlist" data-product-id="2630" data-product-type="simple" data-original-product-id="2630" data-title="Wishlist" rel="nofollow">
                                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i> <span>Wishlist</span>
                                                                                    </a>
                                                                                </div>

                                                                            </div>
                                                                            <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2630" class="add-to-compare-link" data-product_id="2630">Compare</a></div></div></div></div></div></li>
                                                    <li class="product type-product post-2623 status-publish instock product_cat-cameras has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                                                        <div class="product-outer product-item__outer"><div class="product-inner product-item__inner"><div class="product-loop-header product-item__header"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/cameras-photography/cameras/" rel="tag">Cameras</a></span><a href="https://electro.madrasthemes.com/product/white-nx-mini-f1-smart-nx/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">White NX Mini F1 SMART NX</h2><div class="product-thumbnail product-item__thumbnail"><img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/camera2-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"></div></a></div><div class="product-loop-body product-item__body"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/cameras-photography/cameras/" rel="tag">Cameras</a></span><a href="https://electro.madrasthemes.com/product/white-nx-mini-f1-smart-nx/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">White NX Mini F1 SMART NX</h2> <div class="product-rating">
                                                                            <div class="star-rating" title="Rated 0 out of 5"><span style="width:0%"><strong class="rating">0</strong> out of 5</span></div> (0)
                                                                        </div>
                                                                        <div class="product-short-description">
                                                                            <ul>
                                                                                <li><span class="a-list-item">Ultra Slim &amp; Stylish</span></li>
                                                                                <li><span class="a-list-item">Perfect for Selfies</span></li>
                                                                                <li><span class="a-list-item">Capture &amp; Share on the Go</span></li>
                                                                                <li><span class="a-list-item">Outstanding Optics</span></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="product-sku">SKU: 5487FB8/08</div></a></div><div class="product-loop-footer product-item__footer"><div class="price-add-to-cart">
                                                                        <span class="price"><span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>559.00</bdi></span></span></span>
                                                                        <div class="add-to-cart-wrap" data-bs-toggle="tooltip" data-bs-title="Add to cart" data-bs-original-title="" title=""><a href="?add-to-cart=2623" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2623" data-product_sku="5487FB8/08" aria-label="Add “White NX Mini F1  SMART NX” to your cart" rel="nofollow">Add to cart</a></div></div><div class="hover-area"><div class="action-buttons">
                                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2623  wishlist-fragment on-first-load" data-fragment-ref="2623" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:2623,&quot;parent_product_id&quot;:2623,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                                <div class="yith-wcwl-add-button">
                                                                                    <a href="?add_to_wishlist=2623&amp;_wpnonce=fd598ed29a" class="add_to_wishlist single_add_to_wishlist" data-product-id="2623" data-product-type="simple" data-original-product-id="2623" data-title="Wishlist" rel="nofollow">
                                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i> <span>Wishlist</span>
                                                                                    </a>
                                                                                </div>

                                                                            </div>
                                                                            <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2623" class="add-to-compare-link" data-product_id="2623">Compare</a></div></div></div></div></div></li>
                                                    <li class="product type-product post-2682 status-publish last instock product_cat-smartwatches has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                        <div class="product-outer product-item__outer"><div class="product-inner product-item__inner"><div class="product-loop-header product-item__header"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi</h2><div class="product-thumbnail product-item__thumbnail"><img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watchsmart-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"></div></a></div><div class="product-loop-body product-item__body"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi</h2> <div class="product-rating">
                                                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div> (1)
                                                                        </div>
                                                                        <div class="product-short-description">
                                                                            <ul>
                                                                                <li><span class="a-list-item">Accept SIM card and call</span></li>
                                                                                <li><span class="a-list-item"> Take photos</span></li>
                                                                                <li><span class="a-list-item">Make calling instead of mobile phone </span></li>
                                                                                <li><span class="a-list-item">Sync music play and sync control music </span></li>
                                                                                <li><span class="a-list-item">Sync Facebook,Twiter,emailand calendar </span></li>
                                                                            </ul>
                                                                        </div>
                                                                        <div class="product-sku">SKU: 5487FB8/29</div></a></div><div class="product-loop-footer product-item__footer"><div class="price-add-to-cart">
                                                                        <span class="price"><span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>399.00</bdi></span></span></span>
                                                                        <div class="add-to-cart-wrap" data-bs-toggle="tooltip" data-bs-title="Add to cart" data-bs-original-title="" title=""><a href="?add-to-cart=2682" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2682" data-product_sku="5487FB8/29" aria-label="Add “Smartwatch 2.0 LTE Wifi” to your cart" rel="nofollow">Add to cart</a></div></div><div class="hover-area"><div class="action-buttons">
                                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2682  wishlist-fragment on-first-load" data-fragment-ref="2682" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:2682,&quot;parent_product_id&quot;:2682,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                                <div class="yith-wcwl-add-button">
                                                                                    <a href="?add_to_wishlist=2682&amp;_wpnonce=fd598ed29a" class="add_to_wishlist single_add_to_wishlist" data-product-id="2682" data-product-type="simple" data-original-product-id="2682" data-title="Wishlist" rel="nofollow">
                                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i> <span>Wishlist</span>
                                                                                    </a>
                                                                                </div>

                                                                            </div>
                                                                            <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2682" class="add-to-compare-link" data-product_id="2682">Compare</a></div></div></div></div></div></li>
                                                </ul>
                                                <div class="check-products">
                                                    <div class="checkbox accessory-checkbox"><label><input checked="" disabled="" type="checkbox" class="product-check" data-price="700" data-price-suffix="0" data-product-id="2630" data-product-type="simple"> <span class="product-title"><strong>This product: </strong>Smartwatch 2.0 LTE Wifi Waterproof</span> - <span class="accessory-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>700.00</bdi></span></span></label></div><div class="checkbox accessory-checkbox"><label><input checked="" type="checkbox" class="product-check" data-price="559" data-price-suffix="0" data-product-id="2623" data-product-type="simple"> <span class="product-title">White NX Mini F1 SMART NX</span> - <span class="accessory-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>559.00</bdi></span></span></label></div><div class="checkbox accessory-checkbox"><label><input checked="" type="checkbox" class="product-check" data-price="399" data-price-suffix="0" data-product-id="2682" data-product-type="simple"> <span class="product-title">Smartwatch 2.0 LTE Wifi</span> - <span class="accessory-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>399.00</bdi></span></span></label></div> </div>
                                            </div>
                                            <div class="col-md-3 col-right">
                                                <div class="total-price">
                                                    <span class="total-price-html"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>1,658.00</span></span> for <span class="total-products">3</span> item(s) </div>
                                                <div class="accessories-add-all-to-cart">
                                                    <button type="button" class="button btn btn-primary add-all-to-cart">Add all to cart</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--description panel entry-content wc-tab" id="tab-description" role="tabpanel" aria-labelledby="tab-title-description" style="display: none;">
                                    <div class="electro-description clearfix">
                                        <p>&nbsp;</p>
                                        <p><img class="alignnone wp-image-2995 size-large" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1024x346.png" alt="overview_hero_title_2x" width="1024" height="346" srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1024x346.png 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-600x203.png 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-300x101.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-768x259.png 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1536x518.png 1536w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x.png 1600w" sizes="(max-width: 1024px) 100vw, 1024px"></p>
                                        <p><img loading="lazy" class="alignnone wp-image-2994 size-large" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1024x430.jpg" alt="overview_hero_2x" width="1024" height="430" srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1024x430.jpg 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-600x252.jpg 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-300x126.jpg 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-768x322.jpg 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1536x645.jpg 1536w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-2048x860.jpg 2048w" sizes="(max-width: 1024px) 100vw, 1024px"></p>
                                        <p>A groundbreaking Retina display. Powerful dual-core and quad-core Intel processors. Fast flash storage. High-performance graphics. Great built-in apps. And now in the 13-inch model, a revolutionary new Force Touch trackpad and even longer battery life.1 Whatever you can imagine, MacBook Pro with Retina display gives you the power to create.</p>
                                        <p>The design of MacBook Pro packs a lot of power into not a lot of space. Because we believe that high performance shouldn’t come at the expense of portability. And despite being so compact, the new 13-inch and 15-inch MacBook Pro with Retina display models now deliver up to 10 hours and nine hours of battery life, respectively — an hour more than the previous models.</p>
                                        <p><img loading="lazy" class="alignnone wp-image-2993 size-full" src="https://demo.madrasthemes.com/demo-2/wp-content/uploads/sites/7/2016/03/hero_large_2x.jpg" alt="hero_large_2x" width="1956" height="724" srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x.jpg 1956w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-600x222.jpg 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-300x111.jpg 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-1024x379.jpg 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-768x284.jpg 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-1536x569.jpg 1536w" sizes="(max-width: 1956px) 100vw, 1956px"></p>
                                        <p>With Multi-Touch in OS X, you can use realistic gestures like swiping or pinching to switch between apps, navigate your content and get the most out of your desktop space.</p>
                                        <p>The new Force Touch trackpad takes all the capabilities of Multi-Touch and adds force sensors that detect subtle differences in the amount of downward pressure you apply. This lets you have a deeper connection to your content, bringing more functionality to your fingertip. It also introduces haptic feedback to MacBook Pro — allowing you to not just see what’s happening on the screen, but to feel it.</p>
                                    </div><div class="product_meta">
                                        <span class="sku_wrapper">SKU: <span class="sku">5487FB8/10</span></span>
                                        <span class="posted_in">Category: <a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span>
                                    </div>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--specification panel entry-content wc-tab" id="tab-specification" role="tabpanel" aria-labelledby="tab-title-specification" style="display: none;">
                                    <h3>Technical Specifications</h3>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td>Brand</td>
                                            <td>Apple</td>
                                        </tr>
                                        <tr>
                                            <td>Item Height</td>
                                            <td>18 Millimeters</td>
                                        </tr>
                                        <tr>
                                            <td>Item Width</td>
                                            <td>31.4 Centimeters</td>
                                        </tr>
                                        <tr>
                                            <td>Screen Size</td>
                                            <td>13 Inches</td>
                                        </tr>
                                        <tr class="size-weight">
                                            <td>Item Weight</td>
                                            <td>1.6 Kg</td>
                                        </tr>
                                        <tr class="size-weight">
                                            <td>Product Dimensions</td>
                                            <td>21.9 x 31.4 x 1.8 cm</td>
                                        </tr>
                                        <tr class="item-model-number">
                                            <td>Item model number</td>
                                            <td>MF841HN/A</td>
                                        </tr>
                                        <tr>
                                            <td>Processor Brand</td>
                                            <td>Intel</td>
                                        </tr>
                                        <tr>
                                            <td>Processor Type</td>
                                            <td>Core i5</td>
                                        </tr>
                                        <tr>
                                            <td>Processor Speed</td>
                                            <td>2.9 GHz</td>
                                        </tr>
                                        <tr>
                                            <td>RAM Size</td>
                                            <td>8 GB</td>
                                        </tr>
                                        <tr>
                                            <td>Hard Drive Size</td>
                                            <td>512 GB</td>
                                        </tr>
                                        <tr>
                                            <td>Hard Disk Technology</td>
                                            <td>Solid State Drive</td>
                                        </tr>
                                        <tr>
                                            <td>Graphics Coprocessor</td>
                                            <td>Intel Integrated Graphics</td>
                                        </tr>
                                        <tr>
                                            <td>Graphics Card Description</td>
                                            <td>Integrated Graphics Card</td>
                                        </tr>
                                        <tr>
                                            <td>Hardware Platform</td>
                                            <td>Mac</td>
                                        </tr>
                                        <tr>
                                            <td>Operating System</td>
                                            <td>Mac OS</td>
                                        </tr>
                                        <tr>
                                            <td>Average Battery Life (in hours)</td>
                                            <td>9</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab" id="tab-reviews" role="tabpanel" aria-labelledby="tab-title-reviews" style="">
                                    <div id="reviews" class="electro-advanced-reviews">
                                        <div class="advanced-review row">
                                            <div class="col-xs-12 col-md-6">
                                                <h2 class="based-title">Based on 3 reviews</h2>
                                                <div class="avg-rating">
                                                    <span class="avg-rating-number">5.0</span> overall </div>
                                                <div class="rating-histogram">
                                                    <div class="rating-bar">
                                                        <div class="star-rating" title="Rated 5 out of 5">
                                                            <span style="width:100%"></span>
                                                        </div>
                                                        <div class="rating-percentage-bar">
                                                            <span style="width:100%" class="rating-percentage"></span>
                                                        </div>
                                                        <div class="rating-count">3</div>
                                                    </div>
                                                    <div class="rating-bar">
                                                        <div class="star-rating" title="Rated 4 out of 5">
                                                            <span style="width:80%"></span>
                                                        </div>
                                                        <div class="rating-percentage-bar">
                                                            <span style="width:0%" class="rating-percentage"></span>
                                                        </div>
                                                        <div class="rating-count zero">0</div>
                                                    </div>
                                                    <div class="rating-bar">
                                                        <div class="star-rating" title="Rated 3 out of 5">
                                                            <span style="width:60%"></span>
                                                        </div>
                                                        <div class="rating-percentage-bar">
                                                            <span style="width:0%" class="rating-percentage"></span>
                                                        </div>
                                                        <div class="rating-count zero">0</div>
                                                    </div>
                                                    <div class="rating-bar">
                                                        <div class="star-rating" title="Rated 2 out of 5">
                                                            <span style="width:40%"></span>
                                                        </div>
                                                        <div class="rating-percentage-bar">
                                                            <span style="width:0%" class="rating-percentage"></span>
                                                        </div>
                                                        <div class="rating-count zero">0</div>
                                                    </div>
                                                    <div class="rating-bar">
                                                        <div class="star-rating" title="Rated 1 out of 5">
                                                            <span style="width:20%"></span>
                                                        </div>
                                                        <div class="rating-percentage-bar">
                                                            <span style="width:0%" class="rating-percentage"></span>
                                                        </div>
                                                        <div class="rating-count zero">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div id="review_form_wrapper">
                                                    <div id="review_form">
                                                        <div id="respond" class="comment-respond">
                                                            <h3 id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/product/smartwatch-2-0-lte-wifi-waterproof/#respond" style="display:none;">Cancel reply</a></small></h3><form action="https://electro.madrasthemes.com/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate=""><p class="comment-form-rating"><label for="rating">Your Rating</label><p class="stars">						<span>							<a class="star-1" href="#">1</a>							<a class="star-2" href="#">2</a>							<a class="star-3" href="#">3</a>							<a class="star-4" href="#">4</a>							<a class="star-5" href="#">5</a>						</span>					</p><select name="rating" id="rating" style="display: none;">
                                                                    <option value="">Rate…</option>
                                                                    <option value="5">Perfect</option>
                                                                    <option value="4">Good</option>
                                                                    <option value="3">Average</option>
                                                                    <option value="2">Not that bad</option>
                                                                    <option value="1">Very Poor</option>
                                                                </select></p><p class="comment-form-comment"><label for="comment">Your Review</label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                                                                <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                                                                <p class="comment-form-cookies-consent"><input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes"> <label for="wp-comment-cookies-consent">Save my name, email, and website in this browser for the next time I comment.</label></p>
                                                                <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="Add Review"> <input type="hidden" name="comment_post_ID" value="2630" id="comment_post_ID">
                                                                    <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                                                </p></form> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="comments">
                                            <ol class="commentlist">
                                                <li class="comment even thread-even depth-1" id="li-comment-36">
                                                    <div id="comment-36" class="comment_container">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/2951248c8076dbccf39d5bd81456b75e?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/2951248c8076dbccf39d5bd81456b75e?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                        <div class="comment-text">
                                                            <div class="star-rating" role="img" aria-label="Rated 5 out of 5"><span style="width:100%">Rated <strong class="rating">5</strong> out of 5</span></div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">Peter Wargner </strong>
                                                                <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="2016-03-17T08:37:39+00:00">March 17, 2016</time>
                                                            </p>
                                                            <div class="description"><p>Fusce vitae nibh mi. Integer posuere, libero et ullamcorper facilisis, enim eros tincidunt orci, eget vestibulum sapien nisi ut leo. Cras finibus vel est ut mollis. Donec luctus condimentum ante et euismod.</p>
                                                            </div>
                                                            <p class="meta">
                                                                <strong>Peter Wargner</strong> – <time datetime="2016-03-17T08:37:39+00:00">March 17, 2016</time>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-37">
                                                    <div id="comment-37" class="comment_container">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/d16c74631325fcffc7e63045a63bb661?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/d16c74631325fcffc7e63045a63bb661?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                        <div class="comment-text">
                                                            <div class="star-rating" role="img" aria-label="Rated 5 out of 5"><span style="width:100%">Rated <strong class="rating">5</strong> out of 5</span></div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">Anna Kowalsky </strong>
                                                                <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="2016-03-17T08:37:57+00:00">March 17, 2016</time>
                                                            </p>
                                                            <div class="description"><p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse eget facilisis odio. Duis sodales augue eu tincidunt faucibus. Etiam justo ligula, placerat ac augue id, volutpat porta dui.</p>
                                                            </div>
                                                            <p class="meta">
                                                                <strong>Anna Kowalsky</strong> – <time datetime="2016-03-17T08:37:57+00:00">March 17, 2016</time>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="comment even thread-even depth-1" id="li-comment-38">
                                                    <div id="comment-38" class="comment_container">
                                                        <img alt="" src="https://secure.gravatar.com/avatar/38debe76927ff747511927a24098f7f1?s=60&amp;d=mm&amp;r=g" srcset="https://secure.gravatar.com/avatar/38debe76927ff747511927a24098f7f1?s=120&amp;d=mm&amp;r=g 2x" class="avatar avatar-60 photo" height="60" width="60" loading="lazy">
                                                        <div class="comment-text">
                                                            <div class="star-rating" role="img" aria-label="Rated 5 out of 5"><span style="width:100%">Rated <strong class="rating">5</strong> out of 5</span></div>
                                                            <p class="meta">
                                                                <strong class="woocommerce-review__author">John Doe </strong>
                                                                <span class="woocommerce-review__dash">–</span> <time class="woocommerce-review__published-date" datetime="2016-03-17T08:38:14+00:00">March 17, 2016</time>
                                                            </p>
                                                            <div class="description"><p>Sed id tincidunt sapien. Pellentesque cursus accumsan tellus, nec ultricies nulla sollicitudin eget. Donec feugiat orci vestibulum porttitor sagittis.</p>
                                                            </div>
                                                            <p class="meta">
                                                                <strong>John Doe</strong> – <time datetime="2016-03-17T08:38:14+00:00">March 17, 2016</time>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ol>
                                        </div>
                                        <div class="clear"></div>
                                    </div> </div>
                            </div>
                            <section class="related products">
                                <h2>Related products</h2>
                                <ul data-view="grid" data-bs-toggle="regular-products" class="products products list-unstyled row g-0 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5">
                                    <li class="product type-product post-2682 status-publish first instock product_cat-smartwatches has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                        <div class="product-outer product-item__outer" style="height: 339.047px;"><div class="product-inner product-item__inner"><div class="product-loop-header product-item__header"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi</h2><div class="product-thumbnail product-item__thumbnail"><img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watchsmart-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"></div></a></div><div class="product-loop-body product-item__body"><span class="loop-product-categories"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a></span><a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link"><h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi</h2> <div class="product-rating">
                                                            <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div> (1)
                                                        </div>
                                                        <div class="product-short-description">
                                                            <ul>
                                                                <li><span class="a-list-item">Accept SIM card and call</span></li>
                                                                <li><span class="a-list-item"> Take photos</span></li>
                                                                <li><span class="a-list-item">Make calling instead of mobile phone </span></li>
                                                                <li><span class="a-list-item">Sync music play and sync control music </span></li>
                                                                <li><span class="a-list-item">Sync Facebook,Twiter,emailand calendar </span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="product-sku">SKU: 5487FB8/29</div></a></div><div class="product-loop-footer product-item__footer"><div class="price-add-to-cart">
                                                        <span class="price"><span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>399.00</bdi></span></span></span>
                                                        <div class="add-to-cart-wrap" data-bs-toggle="tooltip" data-bs-title="Add to cart" data-bs-original-title="" title=""><a href="?add-to-cart=2682" data-quantity="1" class="button product_type_simple add_to_cart_button ajax_add_to_cart" data-product_id="2682" data-product_sku="5487FB8/29" aria-label="Add “Smartwatch 2.0 LTE Wifi” to your cart" rel="nofollow">Add to cart</a></div></div><div class="hover-area"><div class="action-buttons">
                                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2682  wishlist-fragment on-first-load" data-fragment-ref="2682" data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:2682,&quot;parent_product_id&quot;:2682,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                <div class="yith-wcwl-add-button">
                                                                    <a href="?add_to_wishlist=2682&amp;_wpnonce=fd598ed29a" class="add_to_wishlist single_add_to_wishlist" data-product-id="2682" data-product-type="simple" data-original-product-id="2682" data-title="Wishlist" rel="nofollow">
                                                                        <i class="yith-wcwl-icon fa fa-heart-o"></i> <span>Wishlist</span>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                            <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2682" class="add-to-compare-link" data-product_id="2682">Compare</a></div></div></div></div></div></li>
                                </ul>
                            </section>
                        </div>
                    </main>
                </div>
                <div id="sidebar" class="sidebar" role="complementary">
                    <aside id="electro_product_categories_widget-1" class="widget woocommerce widget_product_categories electro_widget_product_categories"><ul class="product-categories category-single"><li class="product_cat"><ul class="show-all-cat"><li class="product_cat"><span class="show-all-cat-dropdown">Show All Categories<span class="child-indicator"><i class="fa fa-angle-right"></i></span></span><ul style="display: none;"> <li class="cat-item cat-item-44"><a href="https://electro.madrasthemes.com/product-category/accessories/"><span class="no-child"></span>Accessories <span class="count">(11)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-229"><a href="https://electro.madrasthemes.com/product-category/c-bluetooth-speakers/"><span class="no-child"></span>Bluetooth Speakers <span class="count">(7)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-53"><a href="https://electro.madrasthemes.com/product-category/cameras-photography/"><span class="no-child"></span>Cameras &amp; Photography <span class="count">(5)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-59"><a href="https://electro.madrasthemes.com/product-category/computer-components/"><span class="no-child"></span>Computer Components <span class="count">(1)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-64"><a href="https://electro.madrasthemes.com/product-category/gadgets/"><span class="no-child"></span>Gadgets <span class="count">(3)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-230"><a href="https://electro.madrasthemes.com/product-category/headphones-2/"><span class="no-child"></span>Headphones <span class="count">(7)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-75"><a href="https://electro.madrasthemes.com/product-category/home-entertainment/"><span class="no-child"></span>Home Entertainment <span class="count">(1)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-228"><a href="https://electro.madrasthemes.com/product-category/b-home-theatre/"><span class="no-child"></span>Home Theatre <span class="count">(7)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-81"><a href="https://electro.madrasthemes.com/product-category/laptops-computers/"><span class="no-child"></span>Laptops &amp; Computers <span class="count">(13)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-105"><a href="https://electro.madrasthemes.com/product-category/printers-ink/"><span class="no-child"></span>Printers &amp; Ink <span class="count">(1)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-115"><a href="https://electro.madrasthemes.com/product-category/smart-phones-tablets/"><span class="no-child"></span>Smart Phones &amp; Tablets <span class="count">(26)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-231"><a href="https://electro.madrasthemes.com/product-category/speakers-2/"><span class="no-child"></span>Speakers <span class="count">(7)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-227"><a href="https://electro.madrasthemes.com/product-category/a-stereo/"><span class="no-child"></span>Stereo <span class="count">(7)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-130"><a href="https://electro.madrasthemes.com/product-category/tv-audio/"><span class="no-child"></span>TV &amp; Audio <span class="count">(1)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-135"><a href="https://electro.madrasthemes.com/product-category/video-games-consoles/"><span class="no-child"></span>Video Games &amp; Consoles <span class="count">(3)</span></a>
                                            </li>
                                        </ul></li></ul><ul> <li class="cat-item cat-item-64 current-cat-parent current-cat-ancestor"><a href="https://electro.madrasthemes.com/product-category/gadgets/"><span class="child-indicator open"><i class="fa fa-angle-up"></i></span>Gadgets <span class="count">(3)</span></a>
                                        <ul class="children" style="">
                                            <li class="cat-item cat-item-119 current-cat"><a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/"><span class="no-child"></span>Smartwatches <span class="count">(2)</span></a>
                                            </li>
                                            <li class="cat-item cat-item-138"><a href="https://electro.madrasthemes.com/product-category/gadgets/wearables/"><span class="no-child"></span>Wearables <span class="count">(1)</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul></li></ul></aside><aside id="media_image-2" class="widget widget_media_image"><img width="270" height="315" src="https://electro.madrasthemes.com/wp-content/uploads/2016/02/shop-sidebar-ad-banner.jpg" class="image wp-image-2142  attachment-full size-full" alt="" loading="lazy" style="max-width: 100%; height: auto;" srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/02/shop-sidebar-ad-banner.jpg 270w, https://electro.madrasthemes.com/wp-content/uploads/2016/02/shop-sidebar-ad-banner-257x300.jpg 257w" sizes="(max-width: 270px) 100vw, 270px"></aside><aside id="woocommerce_products-2" class="widget woocommerce widget_products"><h3 class="widget-title">Latest Products</h3><ul class="product_list_widget"><li>
                                <a href="https://electro.madrasthemes.com/product/tablet-thin-elitebook-revolve-810-g2-4/">
                                    <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut6-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut6-300x300.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut6-150x150.png 150w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut6-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"> <span class="product-title">Tablet Thin EliteBook Revolve 810 G2</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 4.50 out of 5"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                                <span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>1,347.00</bdi></span></span>
                            </li>
                            <li>
                                <a href="https://electro.madrasthemes.com/product/tablet-thin-elitebook-revolve-810-g2-3/">
                                    <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut5-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut5-300x300.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut5-150x150.png 150w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut5-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"> <span class="product-title">Tablet Thin EliteBook Revolve 810 G2</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 4.50 out of 5"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                                <span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>1,347.00</bdi></span></span>
                            </li>
                            <li>
                                <a href="https://electro.madrasthemes.com/product/wireless-audio-system-multiroom-360-2/">
                                    <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut4-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut4-300x300.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut4-150x150.png 150w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut4-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"> <span class="product-title">Wireless Audio System Multiroom 360</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 4.00 out of 5"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span></div>
                                <span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>69.00</bdi></span></span>
                            </li>
                            <li>
                                <a href="https://electro.madrasthemes.com/product/smartphone-6s-32gb-lte-3/">
                                    <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut3-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut3-300x300.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut3-150x150.png 150w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut3-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"> <span class="product-title">Smartphone 6S 32GB LTE</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 4.50 out of 5"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                                <span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>799.00</bdi></span></span>
                            </li>
                            <li>
                                <a href="https://electro.madrasthemes.com/product/tablet-thin-elitebook-revolve-810-g2-2/">
                                    <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut2-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy" srcset="https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut2-300x300.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut2-150x150.png 150w, https://electro.madrasthemes.com/wp-content/uploads/2021/11/prodcut2-100x100.png 100w" sizes="(max-width: 300px) 100vw, 300px"> <span class="product-title">Tablet Thin EliteBook Revolve 810 G2</span>
                                </a>
                                <div class="star-rating" role="img" aria-label="Rated 4.50 out of 5"><span style="width:90%">Rated <strong class="rating">4.50</strong> out of 5</span></div>
                                <span class="electro-price"><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>1,347.00</bdi></span></span>
                            </li>
                        </ul></aside></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
      });
   </script>
{% endblock %}