{% extends 'main.html.twig' %}

{% block title %}E-boutique fenalpaci{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">
    <style>
        .woocommerce-breadcrumb a {
            color: #000000;
        }

        div.site-content a {
           color: #000000;
        }

    </style>
{% endblock %}

{% block profile_picture %}
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Votre boutique FENAPALCI'}) }}
{% endblock %}

{% block body %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="my-3">
                <a href="{{ path('ecommerce_index')}}">Boutique</a><span class="delimiter mx-2"><i class="fa fa-angle-right"></i></span>
                <a href="">{{ product.name }}</a>
            </nav>
            <div class="row">
                <main id="main">
                    <div class="row">
                        <div class="col-6 product-images-wrapper">
                            <div>
                                <div>
                                    <a href="">
                                        <img width="600" height="550" src="{{ asset(product.path) }}" alt="" loading="lazy" title="product">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="m">
                                <a class="small" href="" rel="tag">{{ product.category }}</a>
                            </span>
                            <h3>{{  product.name }}</h3>
                            <div class="availability">Disponibilité: <span>
                                 <p class="stock in-stock">{{ product.instock }} en stock</p></span>
                            </div>
                            <hr class="single-product-title-divider">
                            <div>
                                <ul>
                                    <li><span class="a-list-item">{{ product.description }}</span></li>
                                    <li><span class="a-list-item">{{ product.supplier }}</span></li>
                                    <li><span class="a-list-item">{{ product.type }}</span></li>
                                    <li><span class="a-list-item">{{ product.marque }}<br></span></li>
                                </ul>
                            </div>
                            <form class="cart" action="" method="post" enctype="multipart/form-data">
                                <div class="my-3">
                                    <label for="quantity">Quantité</label>
                                    <input type="number" value="1" style="width: 55px;">
                                </div>
                                <button type="submit" name="add-to-cart" value="2630" class="btn btn-lg btn-primary rounded-5">Ajouter au panier
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="py-10 bg-blue">1</div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="py-10 bg-blue">2</div>
                            </div>
                            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                                <div class="py-10 bg-blue">3</div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
      });
   </script>
{% endblock %}