{% extends 'main.html.twig' %}

{% block title %}E-boutique fenalpaci{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/ecommerce.css') }}">
    <style>
        .custom-file {
            display: block !important;
        }

        .site-footer {
            background: initial;
            padding-bottom: 0px;
            color: initial;
        }

        section header {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            border-bottom: 1px solid #ddd;
            margin-bottom: 0;
        }

        section header .h1:after, section header h1:after {
            content: ' ';
            border-bottom: 2px solid transparent;
            display: block;
            position: absolute;
            bottom: -1px;
            width: 100%;
        }

    </style>
{% endblock %}

{% block profile_picture %}
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Votre boutique FENAPALCI'}) }}
{% endblock %}

{% block body %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="woocommerce-breadcrumb"><a href="https://electro.madrasthemes.com">Home</a><span
                        class="delimiter"><i class="fa fa-angle-right"></i></span><a
                        href="https://electro.madrasthemes.com/product-category/gadgets/">Gadgets</a><span
                        class="delimiter"><i class="fa fa-angle-right"></i></span><a
                        href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/">Smartwatches</a><span
                        class="delimiter"><i class="fa fa-angle-right"></i></span>Smartwatch 2.0 LTE Wifi Waterproof
            </nav>
            <div class="row">
                <main id="main">
                    <div class="row">
                        <div class="col-6 product-images-wrapper">
                            <div>
                                <div>
                                    <a href="">
                                        <img width="600" height="550" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-600x550.png" class="wp-post-image" alt="" loading="lazy" title="watch">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                                <span class="loop-product-categories">
                                    <a  href="" rel="tag">Smartwatches</a>
                                </span>
                            <h1 class="product_title entry-title">Smartwatch 2.0 LTE Wifi Waterproof</h1>
                            <div class="availability">Disponibilité: <span class="electro-stock-availability">
                                        <p class="stock in-stock">476 en stock</p></span>
                            </div>
                            <hr class="single-product-title-divider">
                            <div class="woocommerce-product-details__short-description">
                                <ul>
                                    <li><span class="a-list-item">Water protected, dust and scratch-resistant</span></li>
                                    <li><span class="a-list-item">Easy calling</span></li>
                                    <li><span class="a-list-item">One-touch SmartWatch</span></li>
                                    <li><span class="a-list-item">New software update</span></li>
                                    <li><span class="a-list-item">Anywhere. Any weather<br></span></li>
                                </ul>
                            </div>
                            <form class="cart" action="" method="post" enctype="multipart/form-data">
                                <div class="my-3">
                                    <label for="quantity_63be4580c4bd1">Quantité</label>
                                    <input type="number" id="quantity_63be4580c4bd1">
                                </div>
                                <button type="submit" name="add-to-cart" value="2630"
                                        class="btn btn-lg btn-primary">Ajouter au panier
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row"><!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs wc-tabs" id="myTab" role="tablist" >
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="messages-tab" data-toggle="tab" href="#messages" role="tab" aria-controls="messages" aria-selected="false">Messages</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">Settings</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content woocommerce-tabs wc-tabs-wrapper">
                            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="accessories">
                                    <div class="electro-wc-message"></div>
                                    <div class="row">
                                        <div class="col-md-9 col-left">
                                            <ul data-view="grid" data-bs-toggle="regular-products"
                                                class="products products list-unstyled row g-0 row-cols-2 row-cols-md-3 row-cols-lg-3 row-cols-xl-3 row-cols-xxl-5">
                                                <li class="product type-product post-2630 status-publish first instock product_cat-smartwatches has-post-thumbnail sale shipping-taxable purchasable product-type-simple">
                                                    <div class="product-outer product-item__outer">
                                                        <div class="product-inner product-item__inner">
                                                            <div class="product-loop-header product-item__header">
                                                                <span class="loop-product-categories">
                                                                    <a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/"
                                                                       rel="tag">Smartwatches</a>
                                                                </span>
                                                                <a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi-waterproof/"
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi Waterproof</h2>
                                                                    <div class="product-thumbnail product-item__thumbnail">
                                                                        <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watch-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="product-loop-body product-item__body">
                                                                <span class="loop-product-categories">
                                                                    <a href="" rel="tag">Smartwatches</a>
                                                                </span>
                                                                <a href=""
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">
                                                                        Smartwatch 2.0 LTE Wifi Waterproof
                                                                    </h2>
                                                                    <div class="product-rating">
                                                                        <div class="star-rating" role="img" aria-label="Rated 5.00 out of 5">
                                                                            <span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5</span>
                                                                        </div>
                                                                        (3)
                                                                    </div>
                                                                    <div class="product-short-description">
                                                                        <ul>
                                                                            <li><span class="a-list-item">Water protected, dust and scratch-resistant</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Easy calling</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">One-touch SmartWatch</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">New software update</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Anywhere. Any weather<br>
</span></li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="product-sku">SKU: 5487FB8/10</div>
                                                                </a>
                                                            </div>
                                                            <div class="product-loop-footer product-item__footer">
                                                                <div class="price-add-to-cart">
                                                                    <span class="price"><span class="electro-price"><ins><span
                                                                                        class="woocommerce-Price-amount amount"><bdi><span
                                                                                                class="woocommerce-Price-currencySymbol">$</span>700.00</bdi></span></ins> <del><span
                                                                                        class="woocommerce-Price-amount amount"><bdi><span
                                                                                                class="woocommerce-Price-currencySymbol">$</span>725.00</bdi></span></del></span></span>
                                                                    <div class="add-to-cart-wrap"
                                                                         data-bs-toggle="tooltip"
                                                                         data-bs-title="Add to cart"
                                                                         data-bs-original-title="" title=""><a
                                                                                href="?add-to-cart=2630"
                                                                                data-quantity="1"
                                                                                class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                                data-product_id="2630"
                                                                                data-product_sku="5487FB8/10"
                                                                                aria-label="Add “Smartwatch 2.0 LTE Wifi  Waterproof” to your cart"
                                                                                rel="nofollow">Add to cart</a>
                                                                    </div>
                                                                </div>
                                                                <div class="hover-area">
                                                                    <div class="action-buttons">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2630  wishlist-fragment on-first-load">

                                                                            <div class="yith-wcwl-add-button">
                                                                                <a href="?add_to_wishlist=2630&amp;_wpnonce=fd598ed29a"
                                                                                   class="add_to_wishlist single_add_to_wishlist"
                                                                                   data-product-id="2630"
                                                                                   data-product-type="simple"
                                                                                   data-original-product-id="2630"
                                                                                   data-title="Wishlist"
                                                                                   rel="nofollow">
                                                                                    <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                                                    <span>Wishlist</span>
                                                                                </a>
                                                                            </div>

                                                                        </div>
                                                                        <a href="" class="add-to-compare-link"
                                                                           data-product_id="2630">Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="product type-product post-2623 status-publish instock product_cat-cameras has-post-thumbnail featured shipping-taxable purchasable product-type-simple">
                                                    <div class="product-outer product-item__outer">
                                                        <div class="product-inner product-item__inner">
                                                            <div class="product-loop-header product-item__header">
                                                                <span class="loop-product-categories"><a href=""
                                                                                                         rel="tag">Cameras</a></span>
                                                                <a href=""
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">
                                                                        White NX Mini F1 SMART NX</h2>
                                                                    <div class="product-thumbnail product-item__thumbnail">
                                                                        <img width="300" height="300"
                                                                             src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/camera2-300x300.png"
                                                                             class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                             alt="" loading="lazy">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="product-loop-body product-item__body">
                                                                <span class="loop-product-categories">
                                                                    <a href="https://electro.madrasthemes.com/product-category/cameras-photography/cameras/"
                                                                       rel="tag">Cameras</a>
                                                                </span>
                                                                <a href=""
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">
                                                                        White NX Mini F1 SMART NX</h2>
                                                                    <div class="product-rating">
                                                                        <div class="star-rating"
                                                                             title="Rated 0 out of 5">
                                                                            <span style="width:0%"><strong
                                                                                        class="rating">0</strong> out of 5</span>
                                                                        </div>
                                                                        (0)
                                                                    </div>
                                                                    <div class="product-short-description">
                                                                        <ul>
                                                                            <li><span class="a-list-item">Ultra Slim &amp; Stylish</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Perfect for Selfies</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Capture &amp; Share on the Go</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Outstanding Optics</span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="product-sku">SKU: 5487FB8/08</div>
                                                                </a></div>
                                                            <div class="product-loop-footer product-item__footer">
                                                                <div class="price-add-to-cart">
                                                                    <span class="price"><span class="electro-price"><span
                                                                                    class="woocommerce-Price-amount amount"><bdi><span
                                                                                            class="woocommerce-Price-currencySymbol">$</span>559.00</bdi></span></span></span>
                                                                    <div class="add-to-cart-wrap"
                                                                         data-bs-toggle="tooltip"
                                                                         data-bs-title="Add to cart"
                                                                         data-bs-original-title="" title=""><a
                                                                                href="?add-to-cart=2623"
                                                                                data-quantity="1"
                                                                                class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                                data-product_id="2623"
                                                                                data-product_sku="5487FB8/08"
                                                                                aria-label="Add “White NX Mini F1  SMART NX” to your cart"
                                                                                rel="nofollow">Add to cart</a></div>
                                                                </div>
                                                                <div class="hover-area">
                                                                    <div class="action-buttons">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2623  wishlist-fragment on-first-load"
                                                                             data-fragment-ref="2623"
                                                                             data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:true,&quot;show_exists&quot;:false,&quot;product_id&quot;:2623,&quot;parent_product_id&quot;:2623,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:true,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                                            <div class="yith-wcwl-add-button">
                                                                                <a href="?add_to_wishlist=2623&amp;_wpnonce=fd598ed29a"
                                                                                   class="add_to_wishlist single_add_to_wishlist"
                                                                                   data-product-id="2623"
                                                                                   data-product-type="simple"
                                                                                   data-original-product-id="2623"
                                                                                   data-title="Wishlist"
                                                                                   rel="nofollow">
                                                                                    <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                                                    <span>Wishlist</span>
                                                                                </a>
                                                                            </div>

                                                                        </div>
                                                                        <a href="" class="add-to-compare-link"
                                                                           data-product_id="2623">Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="product type-product post-2682 status-publish last instock product_cat-smartwatches has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                                    <div class="product-outer product-item__outer">
                                                        <div class="product-inner product-item__inner">
                                                            <div class="product-loop-header product-item__header">
                                                                <span class="loop-product-categories">
                                                                    <a href="" rel="tag">Smartwatches</a>
                                                                </span>
                                                                <a href=""
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">
                                                                        Smartwatch 2.0 LTE Wifi</h2>
                                                                    <div class="product-thumbnail product-item__thumbnail">
                                                                        <img width="300" height="300"
                                                                             src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watchsmart-300x300.png"
                                                                             class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                                                                             alt="" loading="lazy">
                                                                    </div>
                                                                </a>
                                                            </div>
                                                            <div class="product-loop-body product-item__body">
                                                                <span class="loop-product-categories">
                                                                    <a href="" rel="tag">Smartwatches</a>
                                                                </span>
                                                                <a href=""
                                                                   class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                                    <h2 class="woocommerce-loop-product__title">
                                                                        Smartwatch 2.0 LTE Wifi</h2>
                                                                    <div class="product-rating">
                                                                        <div class="star-rating" role="img"
                                                                             aria-label="Rated 4.00 out of 5">
                                                                            <span style="width:80%">Rated <strong
                                                                                        class="rating">4.00</strong> out of 5</span>
                                                                        </div>
                                                                        (1)
                                                                    </div>
                                                                    <div class="product-short-description">
                                                                        <ul>
                                                                            <li><span class="a-list-item">Accept SIM card and call</span>
                                                                            </li>
                                                                            <li><span class="a-list-item"> Take photos</span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Make calling instead of mobile phone </span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Sync music play and sync control music </span>
                                                                            </li>
                                                                            <li><span class="a-list-item">Sync Facebook,Twiter,emailand calendar </span>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                    <div class="product-sku">SKU: 5487FB8/29</div>
                                                                </a>
                                                            </div>
                                                            <div class="product-loop-footer product-item__footer">
                                                                <div class="price-add-to-cart">
                                                                    <span class="price">
                                                                        <span class="electro-price">
                                                                            <span class="woocommerce-Price-amount amount"><bdi>
                                                                                    <span class="woocommerce-Price-currencySymbol">$</span>399.00</bdi>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                    <div class="add-to-cart-wrap"
                                                                         data-bs-toggle="tooltip"
                                                                         data-bs-title="Add to cart"
                                                                         data-bs-original-title="" title=""><a
                                                                                href="?add-to-cart=2682"
                                                                                data-quantity="1"
                                                                                class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                                data-product_id="2682"
                                                                                data-product_sku="5487FB8/29"
                                                                                aria-label="Add “Smartwatch 2.0 LTE Wifi” to your cart"
                                                                                rel="nofollow">Add to cart</a></div>
                                                                </div>
                                                                <div class="hover-area">
                                                                    <div class="action-buttons">
                                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2682  wishlist-fragment on-first-load">

                                                                            <div class="yith-wcwl-add-button">
                                                                                <a href="?add_to_wishlist=2682&amp;_wpnonce=fd598ed29a"
                                                                                   class="add_to_wishlist single_add_to_wishlist"
                                                                                   data-product-id="2682"
                                                                                   data-product-type="simple"
                                                                                   data-original-product-id="2682"
                                                                                   data-title="Wishlist"
                                                                                   rel="nofollow">
                                                                                    <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                                                    <span>Wishlist</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                        <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2682"
                                                                           class="add-to-compare-link"
                                                                           data-product_id="2682">Compare</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-3 col-right">
                                            <div class="total-price">
                                                <span class="total-price-html"><span
                                                            class="woocommerce-Price-amount amount"><span
                                                                class="woocommerce-Price-currencySymbol">$</span>1,658.00</span></span>
                                                for <span class="total-products">3</span> item(s)
                                            </div>
                                            <div class="accessories-add-all-to-cart">
                                                <button type="button"
                                                        class="button btn btn-primary add-all-to-cart">Add all to
                                                    cart
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="electro-description clearfix">
                                    <p>&nbsp;</p>
                                    <p><img class="alignnone wp-image-2995 size-large"
                                            src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1024x346.png"
                                            alt="overview_hero_title_2x" width="1024" height="346"
                                            srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1024x346.png 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-600x203.png 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-300x101.png 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-768x259.png 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x-1536x518.png 1536w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_title_2x.png 1600w"
                                            sizes="(max-width: 1024px) 100vw, 1024px"></p>
                                    <p><img loading="lazy" class="alignnone wp-image-2994 size-large"
                                            src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1024x430.jpg"
                                            alt="overview_hero_2x" width="1024" height="430"
                                            srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1024x430.jpg 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-600x252.jpg 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-300x126.jpg 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-768x322.jpg 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-1536x645.jpg 1536w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/overview_hero_2x-e1459776153284-2048x860.jpg 2048w"
                                            sizes="(max-width: 1024px) 100vw, 1024px"></p>
                                    <p>A groundbreaking Retina display. Powerful dual-core and quad-core Intel
                                        processors. Fast flash storage. High-performance graphics. Great built-in
                                        apps. And now in the 13-inch model, a revolutionary new Force Touch trackpad
                                        and even longer battery life.1 Whatever you can imagine, MacBook Pro with
                                        Retina display gives you the power to create.</p>
                                    <p>The design of MacBook Pro packs a lot of power into not a lot of space.
                                        Because we believe that high performance shouldn’t come at the expense of
                                        portability. And despite being so compact, the new 13-inch and 15-inch
                                        MacBook Pro with Retina display models now deliver up to 10 hours and nine
                                        hours of battery life, respectively — an hour more than the previous
                                        models.</p>
                                    <p><img loading="lazy" class="alignnone wp-image-2993 size-full"
                                            src="https://demo.madrasthemes.com/demo-2/wp-content/uploads/sites/7/2016/03/hero_large_2x.jpg"
                                            alt="hero_large_2x" width="1956" height="724"
                                            srcset="https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x.jpg 1956w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-600x222.jpg 600w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-300x111.jpg 300w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-1024x379.jpg 1024w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-768x284.jpg 768w, https://electro.madrasthemes.com/wp-content/uploads/2016/03/hero_large_2x-1536x569.jpg 1536w"
                                            sizes="(max-width: 1956px) 100vw, 1956px"></p>
                                    <p>With Multi-Touch in OS X, you can use realistic gestures like swiping or
                                        pinching to switch between apps, navigate your content and get the most out
                                        of your desktop space.</p>
                                    <p>The new Force Touch trackpad takes all the capabilities of Multi-Touch and
                                        adds force sensors that detect subtle differences in the amount of downward
                                        pressure you apply. This lets you have a deeper connection to your content,
                                        bringing more functionality to your fingertip. It also introduces haptic
                                        feedback to MacBook Pro — allowing you to not just see what’s happening on
                                        the screen, but to feel it.</p>
                                </div>
                                <div class="product_meta">
                                    <span class="sku_wrapper">SKU: <span class="sku">5487FB8/10</span></span>
                                    <span class="posted_in">Category: <a
                                                href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/"
                                                rel="tag">Smartwatches</a></span>
                                </div>
                            </div>
                            <div class="tab-pane" id="messages" role="tabpanel" aria-labelledby="messages-tab">
                                <h3>Technical Specifications</h3>
                                <table class="table">
                                    <tbody>
                                    <tr>
                                        <td>Brand</td>
                                        <td>Apple</td>
                                    </tr>
                                    <tr>
                                        <td>Item Height</td>
                                        <td>18 Millimeters</td>
                                    </tr>
                                    <tr>
                                        <td>Item Width</td>
                                        <td>31.4 Centimeters</td>
                                    </tr>
                                    <tr>
                                        <td>Screen Size</td>
                                        <td>13 Inches</td>
                                    </tr>
                                    <tr class="size-weight">
                                        <td>Item Weight</td>
                                        <td>1.6 Kg</td>
                                    </tr>
                                    <tr class="size-weight">
                                        <td>Product Dimensions</td>
                                        <td>21.9 x 31.4 x 1.8 cm</td>
                                    </tr>
                                    <tr class="item-model-number">
                                        <td>Item model number</td>
                                        <td>MF841HN/A</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Brand</td>
                                        <td>Intel</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Type</td>
                                        <td>Core i5</td>
                                    </tr>
                                    <tr>
                                        <td>Processor Speed</td>
                                        <td>2.9 GHz</td>
                                    </tr>
                                    <tr>
                                        <td>RAM Size</td>
                                        <td>8 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Hard Drive Size</td>
                                        <td>512 GB</td>
                                    </tr>
                                    <tr>
                                        <td>Hard Disk Technology</td>
                                        <td>Solid State Drive</td>
                                    </tr>
                                    <tr>
                                        <td>Graphics Coprocessor</td>
                                        <td>Intel Integrated Graphics</td>
                                    </tr>
                                    <tr>
                                        <td>Graphics Card Description</td>
                                        <td>Integrated Graphics Card</td>
                                    </tr>
                                    <tr>
                                        <td>Hardware Platform</td>
                                        <td>Mac</td>
                                    </tr>
                                    <tr>
                                        <td>Operating System</td>
                                        <td>Mac OS</td>
                                    </tr>
                                    <tr>
                                        <td>Average Battery Life (in hours)</td>
                                        <td>9</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <section class="related products">
                            <h2>Related products</h2>
                            <ul data-view="grid" data-bs-toggle="regular-products"
                                class="products products list-unstyled row g-0 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5">
                                <li class="product type-product post-2682 status-publish first instock product_cat-smartwatches has-post-thumbnail shipping-taxable purchasable product-type-simple">
                                    <div class="product-outer product-item__outer" style="height: 339.047px;">
                                        <div class="product-inner product-item__inner">
                                            <div class="product-loop-header product-item__header">
                                                <span
                                                        class="loop-product-categories">
                                                    <a href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/" rel="tag">Smartwatches</a>
                                                </span>
                                                <a href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/" class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE Wifi</h2>
                                                    <div class="product-thumbnail product-item__thumbnail">
                                                        <img width="300" height="300" src="https://electro.madrasthemes.com/wp-content/uploads/2016/03/watchsmart-300x300.png" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy">
                                                    </div>
                                                </a>
                                            </div>
                                            <div class="product-loop-body product-item__body"><span
                                                        class="loop-product-categories"><a
                                                            href="https://electro.madrasthemes.com/product-category/gadgets/smartwatches/"
                                                            rel="tag">Smartwatches</a></span><a
                                                        href="https://electro.madrasthemes.com/product/smartwatch-2-0-lte-wifi/"
                                                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                                                    <h2 class="woocommerce-loop-product__title">Smartwatch 2.0 LTE
                                                        Wifi</h2>
                                                    <div class="product-rating">
                                                        <div class="star-rating" role="img"
                                                             aria-label="Rated 4.00 out of 5"><span
                                                                    style="width:80%">Rated <strong class="rating">4.00</strong> out of 5</span>
                                                        </div>
                                                        (1)
                                                    </div>
                                                    <div class="product-short-description">
                                                        <ul>
                                                            <li>
                                                                <span class="a-list-item">Accept SIM card and call</span>
                                                            </li>
                                                            <li><span class="a-list-item"> Take photos</span></li>
                                                            <li><span class="a-list-item">Make calling instead of mobile phone </span>
                                                            </li>
                                                            <li><span class="a-list-item">Sync music play and sync control music </span>
                                                            </li>
                                                            <li><span class="a-list-item">Sync Facebook,Twiter,emailand calendar </span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="product-sku">SKU: 5487FB8/29</div>
                                                </a></div>
                                            <div class="product-loop-footer product-item__footer">
                                                <div class="price-add-to-cart">
                                                    <span class="price"><span class="electro-price"><span
                                                                    class="woocommerce-Price-amount amount"><bdi><span
                                                                            class="woocommerce-Price-currencySymbol">$</span>399.00</bdi></span></span></span>
                                                    <div class="add-to-cart-wrap" data-bs-toggle="tooltip"
                                                         data-bs-title="Add to cart" data-bs-original-title=""
                                                         title=""><a href="?add-to-cart=2682" data-quantity="1"
                                                                     class="button product_type_simple add_to_cart_button ajax_add_to_cart"
                                                                     data-product_id="2682"
                                                                     data-product_sku="5487FB8/29"
                                                                     aria-label="Add “Smartwatch 2.0 LTE Wifi” to your cart"
                                                                     rel="nofollow">Add to cart</a></div>
                                                </div>
                                                <div class="hover-area">
                                                    <div class="action-buttons">
                                                        <div class="yith-wcwl-add-to-wishlist add-to-wishlist-2682  wishlist-fragment on-first-load"
                                                             data-fragment-ref="2682"
                                                             data-fragment-options="{&quot;base_url&quot;:&quot;&quot;,&quot;in_default_wishlist&quot;:false,&quot;is_single&quot;:false,&quot;show_exists&quot;:false,&quot;product_id&quot;:2682,&quot;parent_product_id&quot;:2682,&quot;product_type&quot;:&quot;simple&quot;,&quot;show_view&quot;:false,&quot;browse_wishlist_text&quot;:&quot;Browse&quot;,&quot;already_in_wishslist_text&quot;:&quot;The product is already in your wishlist!&quot;,&quot;product_added_text&quot;:&quot;Product added!&quot;,&quot;heading_icon&quot;:&quot;fa-heart-o&quot;,&quot;available_multi_wishlist&quot;:false,&quot;disable_wishlist&quot;:false,&quot;show_count&quot;:false,&quot;ajax_loading&quot;:false,&quot;loop_position&quot;:&quot;after_add_to_cart&quot;,&quot;item&quot;:&quot;add_to_wishlist&quot;}">

                                                            <div class="yith-wcwl-add-button">
                                                                <a href="?add_to_wishlist=2682&amp;_wpnonce=fd598ed29a"
                                                                   class="add_to_wishlist single_add_to_wishlist"
                                                                   data-product-id="2682" data-product-type="simple"
                                                                   data-original-product-id="2682"
                                                                   data-title="Wishlist" rel="nofollow">
                                                                    <i class="yith-wcwl-icon fa fa-heart-o"></i>
                                                                    <span>Wishlist</span>
                                                                </a>
                                                            </div>

                                                        </div>
                                                        <a href="https://electro.madrasthemes.com?action=yith-woocompare-add-product&amp;id=2682"
                                                           class="add-to-compare-link" data-product_id="2682">Compare</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
      });
   </script>
{% endblock %}