{% extends 'main.html.twig' %}

{% block title %}E-boutique fenalpaci{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">
    <style>
        .woocommerce-breadcrumb a {
            color: #000000;
        }

        div.site-content a {
           color: #000000;
        }

    </style>
{% endblock %}

{% block profile_picture %}
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Votre boutique FENAPALCI'}) }}
{% endblock %}

{% block body %}
    <div id="content" class="site-content" tabindex="-1">
        <div class="container">
            <nav class="my-3">
                <a href="{{ path('ecommerce_index')}}">Boutique</a><span class="delimiter mx-2"><i class="fa fa-angle-right"></i></span>
                <a href="">{{ product.name }}</a>
            </nav>
            <div class="row">
                <main id="main">
                    <div class="row">
                        <div class="col-6 product-images-wrapper">
                            <div>
                                <div>
                                    <a href="">
                                        <img width="600" height="400" src="{{ asset(product.path) }}" alt="" loading="lazy" title="product">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="m">
                                <a class="small" href="" rel="tag">{{ product.category }}</a>
                            </span>
                            <h3>{{  product.name }}</h3>
                            <div class="availability">Disponibilité: <span>
                                 <p class="stock in-stock">{{ product.instock }} en stock</p></span>
                            </div>
                            <hr class="single-product-title-divider">
                            <div>
                                <ul>
                                    <li><span class="a-list-item">{{ product.description }}</span></li>
                                    <li><span class="a-list-item">{{ product.supplier }}</span></li>
                                    <li><span class="a-list-item">{{ product.type }}</span></li>
                                    <li><span class="a-list-item">{{ product.marque }}<br></span></li>
                                </ul>
                            </div>
                            <form class="cart" action="" method="post" enctype="multipart/form-data">
                                <div class="my-3">
                                    <label for="quantity">Quantité</label>
                                    <input type="number" value="1" style="width: 55px;">
                                </div>
                                <button type="submit" name="add-to-cart" value="2630" class="btn btn-lg btn-primary rounded-5">Ajouter à ma liste de commande
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="container">
                            <div class="card my-4">
                                <div class="card-header">
                                   <h3>Caracteristiques techniques</h3>
                                </div>
                                <div class="card-body">
                                    <div class="markup -mhm -pvl -oxa -sc"><p style="box-sizing: border-box; margin: 3px 0px; color: rgb(96, 96, 96); font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 12px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                            <a href="">
                                                <img width="350" src="{{ asset(product.path) }}" alt="">
                                            </a>
                                        </p>
                                        <p style="box-sizing: border-box; margin: 3px 0px; color: rgb(96, 96, 96); font-family: Roboto, Helvetica, Arial, sans-serif; font-size: 12px;"><br></p>
                                        <p style="box-sizing: border-box; margin: 3px 0px;">La congélation est le moyen le plus sûr de conserver efficacement vos aliments pour longtemps. Équipez votre logement du congélateur horizontal SMART TECHNOLOGY STCC-250M pour profiter d'un grand espace de stockage et d'une congélation optimale</p>
                                        <p style="box-sizing: border-box; margin: 3px 0px;"><br></p>
                                        <p style="text-align: justify; box-sizing: border-box; margin: 3px 0px;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<b>UN GRAND VOLUME DE STOCKAGE</b></p><p style="text-align: justify; box-sizing: border-box; margin: 3px 0px;"><b><br></b></p><p style="text-align: justify; box-sizing: border-box; margin: 3px 0px;">Le congélateur horizontal SMART TECHNOLOGY Congélateur STCC-250M est un appareil incontournable pour toutes les personnes qui ont besoin d'un grand espace de stockage pour la congélation de leurs aliments. Sa grande contenance de 199 L vous permet d'y placer des aliments imposants comme des plus petits sans difficulté. De plus, il possède 1 paniers pour vous offrir un accès plus rapide à ces derniers.</p><p style="text-align: justify; box-sizing: border-box; margin: 3px 0px;"><br></p><p style="box-sizing: border-box; margin: 3px 0px;"></p><p style="text-align: justify; box-sizing: border-box; margin: 3px 0px;">Performant, ce congélateur possède une fonction congélation rapide et peut congeler 3.5 kg d'aliments en 24 heures. Vous réduisez ainsi le risque lié à la rupture de la chaîne du froid et profitez d'aliments sains.</p><p style="box-sizing: border-box; margin: 3px 0px;"><br></p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                                        <p>Comprendre les classes climatiques</p><br><br>
                                        <p>Généralement situé à l'intérieur du réfrigérateur/congélateur, on distingue 8 classes climatiques identifiées par des lettres;</p><br>
                                        <ul>
                                            <li><b>N&nbsp;</b>: classe climatique tempérée, qui correspond à une température ambiante comprise entre 16 °C et 32 °C.</li>
                                            <li><b>SN&nbsp;</b>: classe climatique tempérée élargie, pour une température ambiante comprise entre 10 °C et 32 °C.</li>
                                            <li>ST : classe climatique semi-tropicale, pour une température comprise entre 18 °C et 38 °C.</li>
                                            <li><b>T&nbsp;</b>: classe climatique tropicale, pour une température comprise entre 18 °C et 43 °C.</li>
                                            <li><b>SN-T</b>&nbsp;: classe climatique tropicale élargie, pour une température comprise entre 10 °C et 43 °C.</li>
                                            <li><b>N-T</b>&nbsp;: classe climatique tempérée à tropicale, pour une température comprise entre 16 °C et 43 °C.</li>
                                            <li>SN-ST : classe climatique subtropicale élargie, pour une température comprise entre 10 °C et 38 °C.</li>
                                            <li>N-ST : classe climatique tempérée à subtropicale, pour une température comprise entre 16 °C et 38 °C.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="card my-4">
                                <div class="card-header">
                                    <h3>Modalités de paiement</h3>
                                </div>
                                <div class="card-body">

                                    <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                            <th scope="col">1er Versement</th>
                                            <th scope="col">2eme versement</th>
                                            <th scope="col">3eme Versement</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th>150000</th>
                                            <th>150000</th>
                                            <th>150000</th>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="card my-4">
                                <div class="card-header">
                                    <h3>CONDITIONS DE PAIEMENT EN TROIS TEMPS:</h3>
                                </div>
                                <div class="card-body">

                                    <ul>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
      });
   </script>
{% endblock %}