{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        #main-wrapper a:hover, a:focus, .link:hover, .link:focus {
            color: #313131;
        }

        #main-wrapper a, #main-wrapper .link {
            color: #313131;
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block title %}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" class="container">
            <div id="block-nafr-breadcrumbs" class="block block-system block-system-breadcrumb-block">
                <div class="content">
                    <nav role="navigation" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{{ path("home") }}">Accueil</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Médiathèque
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
            <div data-drupal-messages-fallback="" class="hidden"></div>

            <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main class="main-content col" id="content" role="main">
                    <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        <div id="block-pagetitle" class="block block-core block-page-title-block">
                            <div class="content">
                                <h1 class="title"> Médiathèque</h1>
                            </div>
                        </div>
                        <div id="block-nafr-content" class="block block-system block-system-main-block">
                            <div class="views-element-container block block-views block-views-blockadvocacy-news-block-2" id="block-views-block-advocacy-news-block-2">

                                <div class="content">
                                    <div>
                                        <div class="view view-advocacy-news view-id-advocacy_news view-display-id-block_2 js-view-dom-id-504bda477d354a18daf990a071abe35c59e499163dc12cccb8ae0b46834b0ae0">
                                            <div class="view-content">
                                                <div>
                                                    <ul class="row">
                                                        <li class="col-md-4">
                                                            <div class="views-field views-field-field-image">
                                                                <div class="field-content"><a href="">
                                                                        <img loading="lazy"
                                                                                src="{{  asset('sites/img/misc/bar1.jpg') }}"
                                                                                width="540" height="360"
                                                                                alt="."
                                                                                title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mi malesuada urna rhoncus sollicitudin. Nulla gravida lectus cursus nisi blandit egestas. Morbi libero arcu, euismod sit amet volutpat dignissim, convallis at sapien. Sed vehicula nunc ligula. Sed eu auctor nunc."
                                                                                typeof="foaf:Image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="views-field views-field-title">
                                                                <span class="field-content">
                                                                    <a href="" hreflang="fr">Les bars et maquis</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-4">
                                                            <div class="views-field views-field-field-image">
                                                                <div class="field-content"><a href="">
                                                                        <img loading="lazy"
                                                                             src="{{  asset('sites/img/misc/barman2.jpg') }}"
                                                                             width="540" height="360"
                                                                             alt="."
                                                                             title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mi malesuada urna rhoncus sollicitudin. Nulla gravida lectus cursus nisi blandit egestas. Morbi libero arcu, euismod sit amet volutpat dignissim, convallis at sapien. Sed vehicula nunc ligula. Sed eu auctor nunc."
                                                                             typeof="foaf:Image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="views-field views-field-title">
                                                                <span class="field-content">
                                                                    <a href="" hreflang="fr">Les bars et maquis</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-4">
                                                            <div class="views-field views-field-field-image">
                                                                <div class="field-content"><a href="">
                                                                        <img loading="lazy"
                                                                             src="{{  asset('sites/img/misc/barman3.jpg') }}"
                                                                             width="540" height="360"
                                                                             alt="."
                                                                             title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mi malesuada urna rhoncus sollicitudin. Nulla gravida lectus cursus nisi blandit egestas. Morbi libero arcu, euismod sit amet volutpat dignissim, convallis at sapien. Sed vehicula nunc ligula. Sed eu auctor nunc."
                                                                             typeof="foaf:Image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="views-field views-field-title">
                                                                <span class="field-content">
                                                                    <a href="" hreflang="fr">Les bars et maquis</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-4">
                                                            <div class="views-field views-field-field-image">
                                                                <div class="field-content"><a href="">
                                                                        <img loading="lazy"
                                                                             src="{{  asset('sites/img/misc/espace_loisir_2.png') }}"
                                                                             width="540" height="360"
                                                                             alt="."
                                                                             title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mi malesuada urna rhoncus sollicitudin. Nulla gravida lectus cursus nisi blandit egestas. Morbi libero arcu, euismod sit amet volutpat dignissim, convallis at sapien. Sed vehicula nunc ligula. Sed eu auctor nunc."
                                                                             typeof="foaf:Image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="views-field views-field-title">
                                                                <span class="field-content">
                                                                    <a href="" hreflang="fr">Les bars et maquis</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                        <li class="col-md-4">
                                                            <div class="views-field views-field-field-image">
                                                                <div class="field-content"><a href="">
                                                                        <img loading="lazy"
                                                                             src="{{  asset('sites/img/misc/espace_loisir_3.jpg') }}"
                                                                             width="540" height="360"
                                                                             alt="."
                                                                             title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet mi malesuada urna rhoncus sollicitudin. Nulla gravida lectus cursus nisi blandit egestas. Morbi libero arcu, euismod sit amet volutpat dignissim, convallis at sapien. Sed vehicula nunc ligula. Sed eu auctor nunc."
                                                                             typeof="foaf:Image">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="views-field views-field-title">
                                                                <span class="field-content">
                                                                    <a href="" hreflang="fr">Les bars et maquis</a>
                                                                </span>
                                                            </div>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </section>
                </main>
            </div>
        </div>
    </div>
{% endblock %}