{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
{% endblock %}


{% block page_title %}
    {{ include('_partials/page_title.html.twig') }}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <div id="main" class="container">
            <div class="row row-offcanvas row-offcanvas-left clearfix">
                <main class="main-content col" id="content" role="main">
                    <section class="section">
                        <a id="main-content" tabindex="-1"></a>
                        <div id="block-nafr-content" class="block block-system block-system-main-block">
                            <div class="content">
                                <article data-history-node-id="1" role="article" about="/fr/suivez-nous/membership" >
                                    <header>
                                        <span property="schema:name" content="Accueil" class="rdf-meta hidden"></span>
                                    </header>
                                    <div class="node__content clearfix">
                                        <div class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                                            <div class="banner-bar">
                                                <div class="row">
                                                    <div class="col-lg-4 col-md-5">
                                                        <a href="">
                                                            <img alt="" height="80" src="{{ asset('sites/img/devenez_membre_364.png') }}" width="364"/>
                                                        </a>
                                                    </div>

                                                    <div class="col-lg-5 col-md-5 banner-col-left my-auto">
                                                        <p>
                                                            <strong>
                                                                <span style="font-size: 16px;">Nous formons une famille — joignez près de 17 000 autres membres qui partagent un but commun.</span>
                                                            </strong>
                                                        </p>
                                                    </div>

                                                    <div class="col-lg-3 col-md-2 banner-col-join-now my-auto">
                                                        <div class="banner-join-now">
                                                            <p>
                                                                <span style="font-size: 18px;">
                                                                    <strong>
                                                                        <a href="https://magasiner.federalretirees.ca/">
                                                                            <span style="color: #e31837;">Adhérez</span>
                                                                        </a>
                                                                    </strong>
                                                                </span>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </article>
                            </div>
                        </div>
                        <div class="views-element-container block block-views block-views-blockadvocacy-news-block-2" id="block-views-block-advocacy-news-block-2">
                            <h2>TITLE</h2>
                            <div class="content">
                                <div>
                                    <div class="">
                                        <div class="view-content">
                                            <div>
                                                <div class="row bg-blue ">
                                                    <div class="col-md-4">

                                                    </div>
                                                    <div class="col-md-4">

                                                    </div>
                                                    <div class="col-md-4">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!--START -->
                    <section class="py-6 py-lg-6">
                        <div class="container">
                            <!--  START -->
                            <div class="row g-4 py-2">
                                <!-- Category item -->
                                <div class="col-sm-6 col-lg-12 col-xl-3">
                                    <h4 class="text-white">Les composantes de la fédération</h4>
                                    <p class="text-white">Ils participent à la vitalité de notre organisation et sont l'émanation de la vision de solidarité et de progrès de la FENAPAL-CI</p>
                                </div>

                                <!-- Category item -->
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card card-body shadow h-100">
                                        <!-- Title and image -->
                                        <div class="d-flex align-items-center">
                                            <img src="{{ asset('assets/images/misc/espace_animation_1.jpg') }}" class="h-60px mb-2" alt="">
                                            <div class="ms-3">
                                                <h5 class="mb-0"><a href="#">Espaces d'animation</a></h5>
                                                <p class="mb-0 small">268 membres</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Category item -->
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card card-body shadow h-100">
                                        <!-- Title and image -->
                                        <div class="d-flex align-items-center">
                                            <img src="{{ asset('assets/images/misc/bar1.jpg') }}" class="h-60px mb-2" alt="">
                                            <div class="ms-3">
                                                <h5 class="mb-0"><a href="#">Espaces de restauration</a></h5>
                                                <p class="mb-0 small">780 membres</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Category item -->
                                <div class="col-sm-6 col-lg-4 col-xl-3">
                                    <div class="card card-body shadow h-100">
                                        <!-- Title and image -->
                                        <div class="d-flex align-items-center">
                                            <img src="{{ asset('assets/images/misc/espace_loisir_1.png') }}" class="h-60px mb-2" alt="">
                                            <div class="ms-3">
                                                <h5 class="mb-0"><a href="#">Espaces de loisirs</a></h5>
                                                <p class="mb-0 small">576 membres</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  END -->

                            <!-- START -->
                            <div class="row g-4 h-100px">
                            </div>
                            <!-- END -->
                        </div>
                    </section>

                    <!--START -->
                    <section>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="bg-light rounded-3 p-4">
                                        <!-- Slider START -->
                                        <div class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover py-1">
                                            <div class="tiny-slider-inner" data-autoplay="true" data-gutter="80" data-arrow="true" data-dots="false" data-items="5" data-items-lg="3" data-items-md="2" data-items-xs="1">

                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/mtn-ci.jpg') }}" class="h-40px d-block" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">MTN  Côte d'Ivoire</span></a>
                                                    </div>
                                                </div>
                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/orange_ci.jpg') }}" class="h-40px d-block" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">Orange Côte d'Ivoire</span></a>
                                                    </div>
                                                </div>
                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/smart_logo.png') }}" class="h-40px d-block" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">Smart Technology</span></a>
                                                    </div>
                                                </div>
                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/Haier-Logo.png') }}" class="h-40px d-blockd" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">Haier Electronics</span></a>
                                                    </div>
                                                </div>
                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/nasco_logo.png') }}" class="h-40px d-block" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">Nasco Electronics</span></a>
                                                    </div>
                                                </div>
                                                <!-- Item -->
                                                <div>
                                                    <div class="bg-body text-center rounded-2 border py-2 px-1 position-relative">
                                                        <img src="{{  asset('assets/images/misc/Samsung_Logo.png') }}" class="h-40px d-block" alt="">
                                                        <a href="#" class="text-primary-hover stretched-link"><span class="h6 ms-2">Samsung Electronics</span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Slider END -->
                                    </div>
                                </div>
                            </div> <!-- Row END -->
                        </div>
                    </section>

                    <!--START -->
                    <section class="pb-0 pb-md-5">
                        <div class="container">
                            <!-- Title -->
                            <div class="row mb-4">
                                <h2 class="mb-0">Des séminaires de <span class="text-warning"> Formations </span> au bénéfice de nos membres</h2>
                            </div>
                            <div class="row">
                                <!-- Slider START -->
                                <div class="tiny-slider arrow-round arrow-creative arrow-blur arrow-hover">
                                    <div class="tns-outer" id="tns2-ow">
                                        <div class="tns-liveregion tns-visually-hidden" aria-live="polite" aria-atomic="true">slide <span class="current">9 to 11</span>  of 5</div>
                                        <div id="tns2-mw" class="tns-ovh">
                                            <div class="tns-inner" id="tns2-iw">
                                                <div class="tiny-slider-inner  tns-slider tns-carousel tns-subpixel tns-calc tns-horizontal" data-autoplay="false" data-arrow="true" data-dots="false" data-items-xl="3" data-items-md="2" data-items-xs="1" id="tns2" style="transform: translate3d(-53.3333%, 0px, 0px);">
                                                    <div class="card bg-transparent tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        <div class="position-relative">
                                                            <!-- Image -->
                                                            <img src="{{ asset('assets/images/courses/4by3/16.jpg') }}" class="card-img" alt="course image">
                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                                <div class="w-100 mt-auto">
                                                                    <!-- Category -->
                                                                    <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i> 10 janvier 2023</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Card body -->
                                                        <div class="card-body px-2">
                                                            <!-- Title -->
                                                            <h5 class="card-title"><a href="#">Technique comptable pour PME</a></h5>
                                                            <!-- Address and button -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <address class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Bouaké</address>
                                                                <a href="#" class="btn btn-sm btn-primary-soft mb-0">Participer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-transparent tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        <div class="position-relative">
                                                            <!-- Image -->
                                                            <img src="{{ asset('assets/images/courses/4by3/17.jpg') }}" class="card-img" alt="course image">
                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                                <div class="w-100 mt-auto">
                                                                    <!-- Category -->
                                                                    <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i>29 Septembre 2023</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Card body -->
                                                        <div class="card-body px-2">
                                                            <!-- Title -->
                                                            <h5 class="card-title"><a href="#">Hygiène du personnel</a></h5>
                                                            <!-- Address and button -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <address class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Abidjan</address>
                                                                <a href="#" class="btn btn-sm btn-primary-soft mb-0">Participer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-transparent tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        <div class="position-relative">
                                                            <!-- Image -->
                                                            <img src="{{ asset('assets/images/courses/4by3/17.jpg') }}" class="card-img" alt="course image">
                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                                <div class="w-100 mt-auto">
                                                                    <!-- Category -->
                                                                    <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i>29 Septembre 2023</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Card body -->
                                                        <div class="card-body px-2">
                                                            <!-- Title -->
                                                            <h5 class="card-title"><a href="#">Relation avec les partenaires externes</a></h5>
                                                            <!-- Address and button -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <address class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Abidjan</address>
                                                                <a href="#" class="btn btn-sm btn-primary-soft mb-0">Participer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-transparent tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        <div class="position-relative">
                                                            <!-- Image -->
                                                            <img src="{{ asset('assets/images/courses/4by3/16.jpg') }}" class="card-img" alt="course image">
                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                                <div class="w-100 mt-auto">
                                                                    <!-- Category -->
                                                                    <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i>29 Septembre 2023</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Card body -->
                                                        <div class="card-body px-2">
                                                            <!-- Title -->
                                                            <h5 class="card-title"><a href="#">Investissement</a></h5>
                                                            <!-- Address and button -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <address class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Daloa</address>
                                                                <a href="#" class="btn btn-sm btn-primary-soft mb-0">Participer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card bg-transparent tns-item tns-slide-cloned" aria-hidden="true" tabindex="-1">
                                                        <div class="position-relative">
                                                            <!-- Image -->
                                                            <img src="{{ asset('assets/images/courses/4by3/17.jpg') }}" class="card-img" alt="course image">
                                                            <!-- Overlay -->
                                                            <div class="card-img-overlay d-flex align-items-start flex-column p-3">
                                                                <div class="w-100 mt-auto">
                                                                    <!-- Category -->
                                                                    <a href="#" class="badge text-bg-white fs-6 rounded-1"><i class="far fa-calendar-alt text-orange me-2"></i>29 Septembre 2023</a>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Card body -->
                                                        <div class="card-body px-2">
                                                            <!-- Title -->
                                                            <h5 class="card-title"><a href="#">Les impôts</a></h5>
                                                            <!-- Address and button -->
                                                            <div class="d-flex justify-content-between align-items-center">
                                                                <address class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Abidjan</address>
                                                                <a href="#" class="btn btn-sm btn-primary-soft mb-0">Participer</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tns-controls" aria-label="Carousel Navigation" tabindex="0">
                                            <button type="button" data-controls="prev" tabindex="-1" aria-controls="tns2"><i class="fas fa-chevron-left"></i></button><button type="button" data-controls="next" tabindex="-1" aria-controls="tns2"><i class="fas fa-chevron-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <!-- Slider END -->
                            </div>
                        </div>
                    </section>
                </main>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
<script type="text/javascript">
   jQuery(document).ready(function ($) {
    });
</script>
{% endblock %}