{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
    </style>
{% endblock %}

{% block body %}
    <main>
        <!-- =======Page Banner START -->
        {{ form_start(userForm) }}

        <section class="pt-0">
            <!-- Main banner background image -->
            <div class="container-fluid px-0">
                <div class="bg-light h-100px h-md-100px rounded-0">
                </div>
            </div>
            <div class="container mt-n4">
                <div class="row">
                    <!-- Profile banner START -->
                    <div class="col-12">
                        <div class="card bg-transparent card-body p-0">
                            <div class="row d-flex justify-content-between">
                                <!-- Avatar -->
                                <div class="col-auto mt-4 mt-md-0">
                                    <div class="avatar avatar-xxl mt-n3">
                                        {% if user.photo is not null %}
                                            <label for="user_form_photo">
                                                <img id="imagePreview" src="{{ asset('users/') }}{{ user.photo }}" alt="" width="150" class="avatar-img rounded-circle border border-white border-3 shadow">
                                                <span class="d-block position-relative text-dark" style="top:-30px;left:90px"><i class="fa fa-camera fa-2x"></i></span>
                                                {{ form_widget(userForm.photo, {'attr': {'class': 'visually-hidden', 'id':'user_form_photo' }}) }}
                                            </label>
                                        {% else %}
                                            <label for="user_form_photo">
                                                <img id="imagePreview" class="avatar-img rounded-circle border border-white border-3 shadow" src="{{ asset('assets/images/avatar/avatar.jpg') }}" alt="">
                                                <span class="d-block position-relative text-dark" style="top:-30px;left:90px"><i class="fa fa-camera fa-2x"></i></span>
                                                {{ form_widget(userForm.photo, {'attr': {'class': 'visually-hidden', 'id': 'user_form_photo'}}) }}
                                            </label>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- Profile info -->
                                <div class="col d-md-flex justify-content-between align-items-center mt-4">
                                    <div>
                                        <h6 class="my-0">Bienvenue {{ app.user.lastname|upper }} {{ app.user.firstname }}</h6>
                                    </div>
                                    <!-- Button -->
                                    <div class="d-flex align-items-center mt-2 mt-md-0">
                                        <a href="{{ path('app_company_new') }}" class="btn btn-success mb-0 rounded-5 btn-sm">Enregistrer une entreprise</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Profile banner END -->

                        <!-- Divider -->
                        <hr class="d-xl-none">
                        <div class="col-12 col-xl-3 d-flex justify-content-between align-items-center">
                            <a class="h6 mb-0 fw-bold d-xl-none" href="#">Menu</a>
                            <button class="btn btn-primary d-xl-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar">
                                <i class="fas fa-sliders-h"></i>
                            </button>
                        </div>
                        <!-- END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ======== END -->

        <!-- ======== START -->
        <section class="pt-0 px-5">
            <div class="container-fluid">
                <div class="row">
                    <!-- Left sidebar START -->
                    {{ include('partials/user_profile_menu.html.twig', {active : 'edit_account'}) }}

                    <!-- Main content START -->
                    <div class="col-xl-9">
                        <!-- Edit profile START -->
                        <div class="card bg-transparent border rounded-3">
                            <!-- Card header -->
                            <div class="card-header bg-transparent border-bottom">
                                <h3 class="card-header-title mb-0">Modifier mes informations</h3>
                            </div>
                            <!-- Card body START -->
                            <div class="card-body">
                                <!-- Form -->
                                <div class="row g-4">

                                    <!-- Full name -->
                                    <div class="col-12">
                                        <label class="form-label">Nom complet</label>
                                        <div class="input-group">
                                            {{ form_widget(userForm.firstname, {'attr': {'class': 'form-control'}}) }}
                                            {{ form_widget(userForm.lastname, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>

                                    <!-- Email id -->
                                    <div class="col-md-6">
                                        <label class="form-label">Email</label>
                                        {{ form_widget(userForm.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-md-12">
                                        <label class="form-label">Mot de passe</label>
                                        {{ form_widget(userForm.plain_password, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- Username -->
                                    <div class="col-md-6">
                                        <label class="form-label">Sexe</label>
                                        {{ form_widget(userForm.sex, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- Phone number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Téléphone</label>
                                        {{ form_widget(userForm.phone_number, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">Nationalité</label>
                                        {{ form_widget(userForm.nationality, {'attr': {'class': 'form-control'}}) }}
                                    </div>


                                    <div class="col-6">
                                        <label class="form-label">Date de naissance</label>
                                        {{ form_widget(userForm.date_of_birth, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- About me -->
                                    <div class="col-6">
                                        <label class="form-label">Lieu de naissance</label>
                                        {{ form_widget(userForm.place_of_birth, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <!-- About me -->
                                    <div class="col-6">
                                        <label class="form-label">Ville</label>
                                        {{ form_widget(userForm.city, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">Commune</label>
                                        {{ form_widget(userForm.commune, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">Quartier</label>
                                        {{ form_widget(userForm.quartier, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">N° Passeport </label>
                                        {{ form_widget(userForm.passport, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">N° Carte d'identité </label>
                                        {{ form_widget(userForm.cni, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                    <div class="col-6">
                                        <label class="form-label">Adresse </label>
                                        {{ form_widget(userForm.address, {'attr': {'class': 'form-control'}}) }}
                                    </div>

                                   <!-- Save button -->
                                    <div class="d-sm-flex justify-content-end">
                                        <input type="submit" class="btn btn-primary mb-0 rounded-0" value="Mettre à jour">
                                    </div>
                                </div>
                            </div>
                            <!-- Card body END -->
                        </div>
                        <!-- Edit profile END -->
                    </div>
                    <!-- Main content END -->

                </div>
            </div>
        </section>
        {{ form_rest(userForm) }}
        {{ form_end(userForm) }}
    </main>
{% endblock %}

{% block footer %}
{% endblock %}

{% block javascript %}
   {{ parent() }}
  <script>
      $('document').ready(function() {
			$("#user_form_photo").change(function(data){
				var imageFile = data.target.files[0];
				var reader = new FileReader();
				reader.readAsDataURL(imageFile);

				reader.onload = function(evt){
					$('#imagePreview').attr('src', evt.target.result);
					$('#imagePreview').hide();
					$('#imagePreview').fadeIn(650);
				}
        	});
      });
   </script>
{% endblock %}