<div class="table-responsive border-0 mt-5">
    <table class="table table-dark-gray align-middle p-4 mb-0 table-sm">
        <tbody>
        <tr class="bg-light">
            <td><strong>{{ company.name|upper }}</strong></td>
            <td>{{ company.type=='COMPANY'? 'Etablissement' : '' }}</td>
{#            <td>{{ company.fee }}</td>#}
        </tr>
        {% for employee in employees %}
        <tr>
            <td><strong>{{ employee.name|upper }}</strong></td>
            <td>{{ employee.type=='STAFF' ? 'Employé' : '' }}</td>
{#            <td>{{ employee.fee }}</td>#}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<!-- Step 3 button -->
<div class="d-flex justify-content-end mt-5">
    <a href="{{ path('member_edit_profile') }}" class="btn btn-primary bg-dark-purple next-btn mb-0">Revenir à mon profil</a>
</div>
{#
<div class="d-flex justify-content-end mt-5">
    <a href="{{ path('app_payment_summary', {'amount': total,'pay_for': 'FRAIS_ADHESION','beneficiary_id': company.id,'beneficiary_type': 'COMPANY'}) }}" class="btn btn-primary bg-dark-purple next-btn mb-0">Lancer le paiement</a>
</div>
#}
