<header class="navbar-light border-bottom border-light">

    <div class="d-flex flex-row">
        <!-- Logo START -->
        <div class="px-3 py-2">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img class="light-mode-item navbar-brand-item" src="{{ asset('assets/images/logo-new.png') }}" alt="logo">
            </a>
        </div>
        <!-- Logo END -->
        <!-- Logo Nav START -->
        <div class="w-100 d-flex flex-column">
            <div class="flex-fill">
                <div class="ms-1 ms-lg-0 float-end bg-yellow p-2 rounded-bottom text-white">
                    <a href="{{ path('app_register') }}" class="text-white">Devenir membre </a><span> | </span>
                    <a href="{{ path('app_login') }}" class="text-white">Espace membre </a>
                </div>
            </div>
            <nav class="navbar navbar-expand-xl navbar-sticky navbar-static-top bg-dark-purple" >
                <div class="container-fluid">

                    <!-- Responsive navbar toggler -->
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-animation">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </button>


                    <!-- Main navbar START -->
                    <div class="navbar-collapse w-100 collapse" id="navbarCollapse">
                        <!-- Nav Main menu START -->
                        <ul class="navbar-nav navbar-nav-scroll me-auto">
                            <div class="bg-dark">
                                <a class="nav-link text-white" href="#"><i class="bi bi-house"></i></a>
                            </div>
                            <!-- Nav item 1 Demos -->
                            <li class="nav-item dropdown border-bottom-yellow">
                                <a class="nav-link dropdown-toggle" href="#" id="demoMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">La FENAPALCI</a>
                                <ul class="dropdown-menu" aria-labelledby="demoMenu">
                                    <li> <a class="dropdown-item" href="">Qui sommes nous ?</a></li>
                                    <li> <a class="dropdown-item" href="">Le bureau</a></li>
                                    <li> <a class="dropdown-item" href="">Nos missions</a></li>
                                    <li> <a class="dropdown-item" href="">Nos activités</a></li>
                                </ul>
                            </li>

                            <!-- Nav item 2 Pages -->
                            <li class="nav-item dropdown border-bottom-red">
                                <a class="nav-link dropdown-toggle" href="#" id="pagesMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services aux membres</a>
                                <ul class="dropdown-menu" aria-labelledby="pagesMenu">
                                    <li> <a class="dropdown-item" href="">Formations</a></li>
                                    <li> <a class="dropdown-item" href="">Mise en relation B2B</a></li>
                                </ul>
                            </li>

                            <li class="nav-item border-bottom-blue">
                                <a class="nav-link" href="#" id="pagesMenu">E-Commerce</a>
                            </li>

                            <li class="nav-item border-bottom-pink">
                                <a class="nav-link" href="#" id="pagesMenu">Nos formations</a>
                            </li>

                            <li class="nav-item border-bottom-black">
                                <a class="nav-link" href="#" id="pagesMenu">Galerie</a>
                            </li>

                            <li class="nav-item border-bottom-green">
                                <a class="nav-link" href="#" id="pagesMenu">FAQ</a>
                            </li>

                            <li class="nav-item border-bottom-dark">
                                <a class="nav-link" href="#" id="pagesMenu">Nous contacter</a>
                            </li>
                        </ul>
                        <!-- Nav Main menu END -->
                    </div>
                    <!-- Main navbar END -->

                    <!-- Profile START -->
                    {%  if app.user is not null %}
                    <div class="dropdown ms-1 ms-lg-0 px-2">
                        <a class="avatar avatar-sm p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                            <img class="avatar-img rounded-circle" src="{{ asset('assets/images/avatar/profile.jpg') }}" alt="avatar">
                        </a>
                        <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                            <!-- Profile info -->
                            <li class="px-3 mb-3">
                                <div class="d-flex align-items-center">
                                    <!-- Avatar -->
                                    <div class="avatar me-3">
                                        <img class="avatar-img rounded-circle shadow" src="{{ asset('assets/images/avatar/profile.jpg') }}" alt="avatar">
                                    </div>
                                    <div>
                                        <a class="h6" href="#">{{ app.user.firstname }} {{ app.user.lastname }}</a>
                                        <p class="small m-0">{{ app.user.email }}</p>
                                    </div>
                                </div>
                            </li>
                            <li> <hr class="dropdown-divider"></li>
                            <!-- Links -->
                            <li><a class="dropdown-item" href="{{ path('app_home') }}"><i class="bi bi-person fa-fw me-2"></i>Editer mon profile</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_home') }}"><i class="bi bi-gear fa-fw me-2"></i>Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_home') }}"><i class="bi bi-info-circle fa-fw me-2"></i>Aide</a></li>
                            <li> <hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="bi bi-power fa-fw me-2"></i>Me déconnecter</a></li>
                        </ul>
                    </div>
                    <!-- Profile START -->
                    {% endif %}
                </div>
            </nav>
        </div>
        <!-- Logo Nav END -->
    </div>
</header>