<div class="col-xl-3">
    <!-- Responsive offcanvas body START -->
    <div class="offcanvas-xl offcanvas-end" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
        <!-- Offcanvas header -->
        <div class="offcanvas-header bg-dark-purple">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Mon compte</h5>
            <button  type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasSidebar" aria-label="Close"></button>
        </div>
        <!-- Offcanvas body -->
        <div class="offcanvas-body p-3 p-xl-0">
            <div class="bg-dark-purple border rounded-3 pb-0 p-3 w-100">
                <!-- Dashboard menu -->
                <div class="list-group list-group-dark list-group-borderless">
                    <a class="list-group-item {{ active == 'dashboard' ? 'active': '' }}" href="{{ path('app_user_dashboard') }}"><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Tableau de bord</a>
                    <a class="list-group-item {{ active == 'edit_account' ? 'active': '' }}" href="{{ path('app_user_edit_account') }}"><i class="bi bi-pencil-square fa-fw me-2"></i>Editer mon compte</a>
                    <a class="list-group-item {{ active == 'payment' ? 'active': '' }}" href="{{ path('app_user_payment') }}"><i class="bi bi-currency-dollar fa-fw me-2"></i>Mes versements</a>
                    <a class="list-group-item {{ active == 'order' ? 'active': '' }}" href="{{ path('app_user_order') }}"><i class="bi bi-basket fa-fw me-2"></i>Mes commandes</a>
                    <a class="list-group-item {{ active == 'company' ? 'active': '' }}" href="{{ path('app_user_company') }}"><i class="bi bi-clock fa-fw me-2"></i>Mes entreprises</a>
                    <a class="list-group-item {{ active == 'employee' ? 'active': '' }}" href="{{ path('app_user_employee') }}"><i class="bi bi-folder-check fa-fw me-2"></i>Mes employés</a>
                    <a class="list-group-item {{ active == 'configuration' ? 'active': '' }}" href="{{ path('app_user_configuration') }}"><i class="bi bi-gear fa-fw me-2"></i>Configuration</a>
                    <a class="list-group-item text-danger bg-danger-soft-hover" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt fa-fw me-2"></i>Me déconnecter</a>
                </div>
            </div>
        </div>
    </div>
    <!-- END -->
</div>