{% extends 'main.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        #main-wrapper a:hover, a:focus, .link:hover, .link:focus {
            color: #313131;
        }
        #main-wrapper a, #main-wrapper .link {
            color: #313131;
            text-decoration: none;
        }
    </style>
{% endblock %}


{% block title %}
{% endblock %}

{% block body %}
    <div id="main-wrapper" class="layout-main-wrapper clearfix">
        <section class="container">
            {% if status == 'success' %}
                <div class="row justify-content-md-center">
                    <!-- Right -->
                    <div class="col-md-6 col-lg-6 text-center">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <img class="py-3" src="{{ asset('sites/img/misc/payment_successful.gif') }}" width="130" alt="payment successful">
                            </div>
                            <div class="card-body">
                                <p class="fs-6 text-success fw-bolder">Transaction effectuée avec succès</p>
                                <p class="small">Vous serez redirigé dans quelques instants sinon <a href="{{ path('member_edit_profile') }}">cliquez sur ce lien</a></p>
                                <div>
                                    <p class="border-1 border-top border-bottom border-light">
                                        <span>Date transaction </span>
                                        <span>{{ 'now'|date('d/m/Y H:i:s') }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row justify-content-md-center">
                    <div class="col-md-6 col-lg-6 text-center">
                        <div class="card mb-3 shadow-sm">
                            <div class="card-header">
                                <img class="py-3" src="{{ asset('assets/images/misc/failed.png') }}" width="130" alt="payment successful">
                            </div>
                            <div class="card-body">
                                <p class="fs-6 text-success fw-bolder">Transaction a échoué, veuillez reprendre le processus de paiement</p>
                                <p class="small">Vous serez redirigé dans quelques instants sinon <a href="{{ path('app_home') }}">cliquez sur ce lien</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </div>
{% endblock %}

{% block javascript %}
{{ parent() }}
  <script>
      $('document').ready(function() {
         var timer = setTimeout(function(){
             window.location.href = '{{ path('member_edit_profile') }}';
         }, 5000);
      });
   </script>
{% endblock %}