{% extends 'main.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <style>
        .btn:hover {
            color: var(--bs-btn-hover-color);
            background-color: #4f2470;
            border-color:  #4f2470;
        }
    </style>
{% endblock %}

{% block page_title %}
    {{ include('_partials/page_title.html.twig', {'title': 'Frais d\'adhesion de membre'}) }}
{% endblock %}

{% block body %}
    <!-- **************** MAIN CONTENT START **************** -->
    <main>
        <section class="container px-2 mt-5">
                <div class="row justify-content-md-center">
                    <!-- Right -->
                    <div class="col-md-12">
                        <div class="pt-4 border-1 border-light bg-light text-center">
                            <img class="mb-5" src="{{ asset("assets/images/misc/wave-logo.png") }}" width="150" alt="logo wave"><br>
                            <label for="pet-select">Choisir votre type d'etablissement :</label><br>
                            <select name="categorie" id="category">
                                <option value="">--Please choose an option--</option>
                                <option value="1">GLACIER</option>
                                <option value="2">BAR</option>
                                <option value="3">MAQUIS : 1-50 Places</option>
                                <option value="4">MAQUIS : 50-100 Places</option>
                                <option value="5">MAQUIS : 101 Places et Plus	</option>
                                <option value="6">RESTAURANT : 1-50 Places</option>
                                <option value="7">RESTAURANT : 51 Places et Plus</option>
                                <option value="8">MAQUIS/RESTAURANT</option>
                                <option value="9">RESTAURANT VIP</option>
                                <option value="10">DEPOT DE BOISSON</option>
                                <option value="11">HOTEL</option>
                                <option value="12">NIGHT CLUB</option>
                                <option value="13">EVENEMENTIEL</option>
                                <option value="14">PATISSERIE</option>
                                <option value="15">CAVE : 1-50 Places</option>
                                <option value="16">CAVE : 51 Places et Plus</option>
                            </select>

                            <p class="fs-2 mt-2 mb-3">Frais unique d’adhésion</p>
                            <p class="fw-bolder text-dark">{{  amount }} F CFA</p>
                        </div>

                        <div class="mx-5 pt-3 text-center">
                            <a href="{{ payment_redirect_url }}" class="btn bg-dark-purple text-white btn-lg my-5 w-75 rounded-5">Payer maintenant</a>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col-md-12 col-lg-12">
                        <div class="py-3">
                            <h5 style="border-left:5px solid #ff0000; padding-left: 10px; margin-bottom: 20px"> Cotisation mensuelle</h5>
                            <p class="">
                               Cette cotisation vous donne aux avantages accordés par nos partenaires aux memebres de la fédération.
                              NB: Les frais de cotisations mensuelles sont définis par type d'établissement :
                            </p>
                        </div>
                        <table class="table table-responsive table-sm">
                            <tr>
                                <td>GLACIER</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>BAR</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>MAQUIS : 1-50 Places</td>
                                <td> 2 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>MAQUIS : 50-100 Places</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>MAQUIS : 101 Places et Plus </td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>RESTAURANT : 1-50 Places</td>
                                <td>2 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>RESTAURANT : 51 Places et Plus</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>RESTAURANT : 51 Places et Plus</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>RESTAURANT : 51 Places et Plus</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>MAQUIS/RESTAURANT</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>RESTAURANT VIP</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>DEPOT DE BOISSON</td>
                                <td> 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>HOTEL</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>NIGHT CLUB</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>NIGHT CLUB</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>EVENEMENTIEL</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>PATISSERIE</td>
                                <td>5 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>CAVE : 1-50 Places</td>
                                <td>2 000 fcfa/Mois</td>
                            </tr>
                            <tr>
                                <td>CAVE : 51 Places et Plus</td>
                                <td>3 000 fcfa/Mois</td>
                            </tr>
                        </table>
                    </div>
                </div> <!-- Row END -->
        </section>
    </main>
    <!-- **************** MAIN CONTENT END **************** -->
{% endblock %}


{% block footer %}
{% endblock %}