<!DOCTYPE html>
<html lang="fr" dir="ltr" prefix="content: http://purl.org/rss/1.0/modules/content/  dc: http://purl.org/dc/terms/  foaf: http://xmlns.com/foaf/0.1/  og: http://ogp.me/ns#  rdfs: http://www.w3.org/2000/01/rdf-schema#  schema: http://schema.org/  sioc: http://rdfs.org/sioc/ns#  sioct: http://rdfs.org/sioc/types#  skos: http://www.w3.org/2004/02/skos/core#  xsd: http://www.w3.org/2001/XMLSchema# ">
<head>
    <meta charset="utf-8"/>
    <link rel="canonical" href="https://www.fenapalci.org"/>
    <link rel="shortlink" href="https://www.fenapalci.org"/>
    <meta name="description" content="Still a force — join 176,000 fellow members who share a common purpose — making retirement better for federal retirees, veterans, and all Canadians"/>
    <meta name="keywords" content=""/>
    <meta name="MobileOptimized" content="width"/>
    <meta name="HandheldFriendly" content="true"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <link rel="icon" href="/themes/nafr/favicon.ico" type="image/vnd.microsoft.icon"/>
    <link rel="alternate" hreflang="en" href="https://www.fenapalci.org"/>
    <link rel="alternate" hreflang="fr" href="https://www.fenapalci.org"/>

    <title>Fédération nations des acteurs et professionnels des acteurs d'animation, restauration et loisir de cote d'ivoire </title>
    <link rel="stylesheet" media="all" href="/sites/css/css_wdFn76ocR_CLUxJfhVZgjFabVWLXnSyMW2wVsMKkrZE.css"/>
    <link rel="stylesheet" media="all" href="/sites/css/css_YXorpN3TP_aNtJqKUz28p70SiXEcz6FPgsVkpTyYoec.css"/>
    <link rel="stylesheet" media="all" href="//stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" media="all" href="/sites/css/css_F6Rp-BOdRC81kjaqo8RqqR3iVd2bVfYCkSTGowDlQ1o.css"/>
    <link rel="stylesheet" media="all" href="//use.fontawesome.com/releases/v5.7.2/css/all.css"/>
    <link rel="stylesheet" media="print" href="/sites/css/css_Y4H_4BqmgyCtG7E7YdseTs2qvy9C34c51kBamDdgark.css"/>

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/tiny-slider/tiny-slider.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/glightbox/css/glightbox.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/datepicker/css/bootstrap-datepicker.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/stepper/css/bs-stepper.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/choices/css/choices.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/quill/css/quill.snow.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/vendor/sweetalert2/css/sweetalert2.min.css') }}">

{#    <link rel="stylesheet" type="text/css" href="{{ asset('sites/css/style.css') }}">#}
    <link rel="stylesheet" type="text/css" href="/sites/css/style.css">

    {% block stylesheet %}
    {% endblock %}
</head>
<body class="layout-no-sidebars has-featured-top page-node-1 path-suivez-nous path-membership path-suivez-nous-membership i18n-fr role-anonymous path-frontpage node--type-page">
<a href="#main-content" class="visually-hidden focusable skip-link">
    Aller au contenu principal
</a>
<noscript aria-hidden="true"></noscript>
<div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
    <div id="page-wrapper">
        <div id="page">
            {% block header %}
                {{ include('_partials/header.html.twig') }}
            {% endblock %}

            {% block slideshow %}
            {% endblock %}

            {% block page_title %}
            {% endblock %}

            {% block body %}
            {% endblock %}

            {% block footer %}
                {{ include('_partials/footer.html.twig') }}
            {% endblock %}
        </div>
    </div>
</div>


<script type="application/json" data-drupal-selector="drupal-settings-json">
    {
        "path": {
            "baseUrl": "\/",
            "scriptPath": null,
            "pathPrefix": "fr\/",
            "currentPath": "node\/1",
            "currentPathIsAdmin": false,
            "isFront": true,
            "currentLanguage": "fr"
        },
        "pluralDelimiter": "\u0003",
        "suppressDeprecationErrors": true,
        "simple_popup_blocks": {
            "settings": []
        },
        "blazy": {
            "loadInvisible": false,
            "offset": 100,
            "saveViewportOffsetDelay": 50,
            "validateDelay": 25,
            "container": "",
            "loader": true,
            "unblazy": false,
            "compat": true
        },
        "blazyIo": {
            "disconnect": false,
            "rootMargin": "0px",
            "threshold": [
                0,
                0.25,
                0.5,
                0.75,
                1
            ]
        },
        "viewsSlideshowControls": {
            "featured_carousel-block_1": {
                "bottom": {
                    "type": "viewsSlideshowControlsText"
                }
            }
        },
        "viewsSlideshowCycle": {
            "#views_slideshow_cycle_main_featured_carousel-block_1": {
                "num_divs": 3,
                "id_prefix": "#views_slideshow_cycle_main_",
                "div_prefix": "#views_slideshow_cycle_div_",
                "vss_id": "featured_carousel-block_1",
                "effect": "scrollRight",
                "transition_advanced": 0,
                "timeout": 5000,
                "speed": 700,
                "delay": 0,
                "sync": 1,
                "random": 0,
                "pause": 1,
                "pause_on_click": 1,
                "action_advanced": 1,
                "start_paused": 0,
                "remember_slide": 0,
                "remember_slide_days": 1,
                "pause_in_middle": 0,
                "pause_when_hidden": 1,
                "pause_when_hidden_type": "full",
                "amount_allowed_visible": "",
                "nowrap": 0,
                "fixed_height": 1,
                "items_per_slide": 1,
                "items_per_slide_first": 0,
                "items_per_slide_first_number": 1,
                "wait_for_image_load": 1,
                "wait_for_image_load_timeout": 3000,
                "cleartype": 0,
                "cleartypenobg": 0,
                "advanced_options": "{\u0022width\u0022:\u00221110\u0022}",
                "advanced_options_choices": "containerResize",
                "advanced_options_entry": true
            }
        },
        "viewsSlideshow": {
            "featured_carousel-block_1": {
                "methods": {
                    "goToSlide": [
                        "viewsSlideshowSlideCounter",
                        "viewsSlideshowPager",
                        "viewsSlideshowCycle"
                    ],
                    "nextSlide": [
                        "viewsSlideshowSlideCounter",
                        "viewsSlideshowPager",
                        "viewsSlideshowCycle"
                    ],
                    "pause": [
                        "viewsSlideshowControls",
                        "viewsSlideshowCycle"
                    ],
                    "play": [
                        "viewsSlideshowControls",
                        "viewsSlideshowCycle"
                    ],
                    "previousSlide": [
                        "viewsSlideshowSlideCounter",
                        "viewsSlideshowPager",
                        "viewsSlideshowCycle"
                    ],
                    "transitionBegin": [
                        "viewsSlideshowSlideCounter",
                        "viewsSlideshowPager"
                    ],
                    "transitionEnd": []
                },
                "paused": 0
            }
        },
        "ajaxTrustedUrl": {
            "\/fr\/search\/pages": true
        },
        "user": {
            "uid": 0,
            "permissionsHash": "066ae2e2c49dde7d5241bca2490673e0b2779d332be8bad984f65638948e0281"
        }
    }
</script>
<script src="/sites/js/js_26ipVBUXrozPC5ymMiqmo3C-TY2e8A1kQmEgjsyrBkc.js"></script>
<script src="/sites/js/js_-DyQQfPuzFUeY0djEnEswHd2lUujFisoJalW_H2ZaNg.js"></script>

<script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ asset('assets/fonts/font-awesome-all.js') }}"></script>
<script src="{{ asset('assets/vendor/datepicker/js/bootstrap-datepicker.min.js') }}"></script>
<!-- Vendors -->
<script src="{{ asset('assets/vendor/tiny-slider/tiny-slider.js') }}"></script>
<script src="{{ asset('assets/vendor/glightbox/js/glightbox.js') }}"></script>
<script src="{{ asset('assets/vendor/choices/js/choices.min.js') }}"></script>
<script src="{{ asset('assets/vendor/purecounterjs/dist/purecounter_vanilla.js') }}"></script>
<script src="{{ asset('assets/vendor/stepper/js/bs-stepper.min.js') }}"></script>
<script src="{{ asset('assets/vendor/quill/js/quill.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-form/js/jquery.form.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-validation/js/jquery.validate.min.js') }}"></script>
<script src="{{ asset('assets/vendor/jquery-validation/js/additional-methods.min.js') }}"></script>
<script src="{{ asset('assets/vendor/sweetalert2/js/sweetalert2.all.min.js') }}"></script>

<script src="{{ asset('assets/js/functions.js') }}"></script>
</body>
</html>